<!DOCTYPE html>
<html lang="en" ng-app="tripApp" ng-controller="AppGlobalController">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="utf-8" />
  <title>Sopan - Solusi Pemanas Air Nusantara</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />
  <link rel="apple-touch-icon" href="themes/pages/ico/60.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="themes/pages/ico/76.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="themes/pages/ico/120.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="themes/pages/ico/152.png" />
  <link rel="icon" type="image/x-icon" href="themes/pages/ico/76.png" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <meta content="{{app.description}}" name="description" />
  <meta content="{{app.author}}" name="author" />
  <link href="themes/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
  <link href="themes/assets/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="themes/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
  <link href="themes/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css"
    media="screen" />
  <link href="themes/assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="themes/assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="themes/assets/plugins/nvd3/nv.d3.min.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="themes/assets/plugins/mapplic/css/mapplic.css" rel="stylesheet" type="text/css" />
  <link href="themes/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css"
    media="screen">
  <link href="themes/assets/plugins/jquery-metrojs/MetroJs.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="themes/assets/plugins/jquery-datatable/media/css/dataTables.bootstrap.min.css" rel="stylesheet"
    type="text/css" />
  <link href="themes/assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css"
    rel="stylesheet" type="text/css" />
  <link href="themes/assets/plugins/datatables-responsive/css/datatables.responsive.css" rel="stylesheet"
    type="text/css" media="screen" />
  <link href="assets/vendors/angular/ngToast.min.css" rel="stylesheet" type="text/css" />
  <link href="themes/pages/css/pages-icons.c
ss" rel="stylesheet" type="text/css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
  <link type="text/css" rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
  <link class="main-stylesheet" href="themes/pages/css/pages.css" rel="stylesheet" type="text/css" />
  <!--[if lte IE 9]>
    <link href="themes/assets/plugins/codrops-dialogFx/dialog.ie.css" rel="stylesheet" type="text/css" media="screen" />
    <![endif]-->
</head>

<body class="fixed-header dashboard" ng-app="tripApp">
  <toast></toast>
  <nav class="page-sidebar" data-pages="sidebar">
    <div class="sidebar-header">
      <strong style="font-size: 16px; color: #fff;display: inline-block;font-style: italic;">Navigasi
        Menu</strong>
    </div>
    <div class="sidebar-menu">
      <ul class="menu-items">
        <li class="m-t-30 ">
          <a href="#/" class="detailed">
            <span class="title">Dashboard</span>
          </a>
          <span class="bg-success icon-thumbnail"><i class="pg-home"></i></span>
        </li>
        <li>
          <a href="javascript:;"><span class="title">Master Data</span><span class=" arrow"></span></a>
          <span class="icon-thumbnail"><i class="fa fa-folder-open"></i></span>
          <ul class="sub-menu">
            <li ng-show="listMenu.barang.read===true || listMenu.barang.write===true">
              <a href="#/data-barang">Data Barang</a>
              <span class="icon-thumbnail">Dk</span>
            </li>
            <li ng-show="listMenu.pelanggan.read===true || listMenu.pelanggan.write===true">
              <a href="#/data-pelanggan">Data Pelanggan</a>
              <span class="icon-thumbnail">Dp</span>
            </li>
            <li ng-show="listMenu.supplier.read===true || listMenu.supplier.write===true">
              <a href="#/data-supplier">Data Supplier</a>
              <span class="icon-thumbnail">Ds</span>
            </li>
            <li ng-show="listMenu.jenismaterial.read===true || listMenu.jenismaterial.write===true">
              <a href="#/data-jenis-barang">Data Jenis Material</a>
              <span class="icon-thumbnail">Dj</span>
            </li>
            <li ng-show="listMenu.departement.read===true || listMenu.departement.write===true">
              <a href="#/data-departement">Data Departement</a>
              <span class="icon-thumbnail">Dd</span>
            </li>
            <li ng-show="listMenu.satuan.read===true || listMenu.satuan.write===true">
              <a href="#/data-satuan">Data Satuan</a>
              <span class="icon-thumbnail">Ds</span>
            </li>
            <li ng-show="listMenu.gudang.read===true || listMenu.gudang.write===true">
              <a href="#/data-gudang">Data Gudang</a>
              <span class="icon-thumbnail">Dg</span>
            </li>
            <li class="" ng-show="listMenu.admincontrol.write===true">
              <a href="#/data-kategori-spb">Kategori File SPB</a>
              <span class="icon-thumbnail">Dk</span>
            </li>
            <li class="" ng-show="listMenu.admincontrol.write===true">
              <a href="#/data-file-category">Kategori File Pelanggan</a>
              <span class="icon-thumbnail">Dk</span>
            </li>
            <li class="" ng-show="listMenu.admincontrol.write===true">
              <a href="#/data-kategori-work-report">Kategori File Work Report</a>
              <span class="icon-thumbnail">Dk</span>
            </li>
          </ul>
        </li>
        <li ng-show="listMenu.karyawan.read===true || listMenu.karyawan.write===true
          || listMenu.jabatan.read===true || listMenu.jabatan.write===true">
          <a href="javascript:;"><span class="title">Management Karyawan</span><span class="arrow"></span></a>
          <span class="icon-thumbnail"><i class="fa fa-folder-open"></i></span>
          <ul class="sub-menu">
            <li ng-show="listMenu.karyawan.read===true || listMenu.karyawan.write===true">
              <a href="#/data-karyawan">Data Karyawan</a>
              <span class="icon-thumbnail">Dk</span>
            </li>
            <li ng-show="listMenu.jabatan.read===true || listMenu.jabatan.write===true">
              <a href="#/data-jabatan">Data Jabatan</a>
              <span class="icon-thumbnail">Dj</span>
            </li>
            <li>
              <a href="#/data-training-record"><span class="title">Training Record</span></a>
              <span class="icon-thumbnail"><i class="fa fa-file"></i></span>
            </li>
            <li ng-show="listMenu.admincontrol.write===true">
              <a href="#/hak-akses/">Hak Akses Karyawan</a>
              <span class="icon-thumbnail">Hau</span>
            </li>
          </ul>
        </li>
        <li ng-show="listMenu.purchasing.read===true || listMenu.purchasing.write===true">
          <a href="javascript:;"><span class="title">Purchasing</span><span class=" arrow"></span></a>
          <span class="icon-thumbnail"><i class="fa fa-folder-open"></i></span>
          <ul class="sub-menu">
            <li class="">
              <a href="#/data-purchase-order">PO Non-Pajak</a>
              <span class="icon-thumbnail">PO</span>
            </li>
            <li class="">
              <a href="#/data-purchase-order-pajak">PO Pajak</a>
              <span class="icon-thumbnail">PO</span>
            </li>
            <li class="">
              <a href="#/data-penerimaan-barang">Penerimaan Barang Non-PPN</a>
              <span class="icon-thumbnail">Ph</span>
            </li>
            <li class="">
              <a href="#/data-penerimaan-barang-ppn">Penerimaan Barang PPN</a>
              <span class="icon-thumbnail">Ph</span>
            </li>
            <li class="">
              <a href="#/data-pajak-po">Faktur Pajak PO</a>
              <span class="icon-thumbnail">FPO</span>
            </li>
            <li class="">
              <a href="#/data-faktur-pajak-po">Faktur Pajak PO (NEW)</a>
              <span class="icon-thumbnail">FPO</span>
            </li>
            <li class="">
              <a href="#/data-outstanding-pajak-po">Outstanding Pajak PO</a>
              <span class="icon-thumbnail">OPP</span>
            </li>
            <li class="">
              <a href="#/laporan-po-supplier">Laporan PO Supplier</a>
              <span class="icon-thumbnail">Pb</span>
            </li>
            <!-- <li class="">
              <a href="#/data-return-barang">Return Barang Supplier</a>
              <span class="icon-thumbnail">Ph</span>
            </li> -->
          </ul>
        </li>
        <li ng-show="listMenu.persediaan.read===true || listMenu.persediaan.write===true">
          <a href="javascript:;"><span class="title">Persediaan</span>
            <span class=" arrow"></span></a>
          <span class="icon-thumbnail"><i class="fa fa-folder-open"></i></span>
          <ul class="sub-menu">
            <li class="">
              <a href="#/data-stok-gudang/">Stok Gudang</a>
              <span class="icon-thumbnail">Sg</span>
            </li>
            <li class="">
              <a href="#/data-stok-purchasing/">Stok Purchasing</a>
              <span class="icon-thumbnail">Sg</span>
            </li>
            <li class="">
              <a href="#/data-audit-stok">Audit Stok</a>
              <span class="icon-thumbnail">So</span>
            </li>
            <li class="">
              <a href="#/data-transfer-stok">Transfer Stok</a>
              <span class="icon-thumbnail">Ts</span>
            </li>
            <!-- <li>
              <a href="#/laporan-stok">Laporan Stok</a>
              <span class="icon-thumbnail">Ls</span>
            </li> -->
          </ul>
        </li>
        <li class="" ng-show="listMenu.sph.read===true || listMenu.sph.write===true">
          <a href="#/data-sph"><span class="title">Surat Penawaran Harga</span></a>
          <span class="icon-thumbnail"><i class="fa fa-file"></i></span>
        </li>
        <li class="" ng-show="listMenu.spb.read===true || listMenu.spb.write===true">
          <a href="#/data-penjualan"><span class="title">Surat Permintaan Barang</span></a>
          <span class="icon-thumbnail"><i class="fa fa-file"></i></span>
        </li>
        <li class="" ng-show="listMenu.suratjalanmms.read===true || listMenu.suratjalanmms.write===true">
          <a href="#/data-surat-jalan"><span class="title">Surat Jalan</span></a>
          <span class="icon-thumbnail"><i class="fa fa-file"></i></span>
        </li>
        <li class="" ng-show="listMenu.invoicemms.read===true || listMenu.invoicemms.write===true">
          <a href="#/data-invoice"><span class="title">Invoice</span></a>
          <span class="icon-thumbnail"><i class="fa fa-file"></i></span>
        </li>
        <li class="" ng-show="listMenu.spb.read===true || listMenu.spb.write===true">
          <a href="#/data-notifikasi-maintenance"><span class="title">Notifikasi Maintenance <span
                ng-show="totalNotifikasiMaintenance>0" class="badge badge-danger"
                style="margin-left:10px">{{totalNotifikasiMaintenance}}</span></span></a>
          <span class="icon-thumbnail"><i class="fa fa-file"></i></span>
        </li>
        <li class="" ng-show="listMenu.workschedule.read===true || listMenu.workschedule.write===true">
          <a href="#/data-work-schedule"><span class="title">Work Order</span></a>
          <span class="icon-thumbnail"><i class="fa fa-file"></i></span>
        </li>
        <li class="" ng-show="listMenu.workreport.read===true || listMenu.workreport.write===true">
          <a href="#/data-work-report"><span class="title">Work Report</span></a>
          <span class="icon-thumbnail"><i class="fa fa-file"></i></span>
        </li>
        <!-- <li class="" ng-show="listMenu.invoicemms.read===true || listMenu.invoicemms.write===true">
          <a href="#/data-penerimaan-invoice"><span class="title">Pembayaran Invoice</span></a>
          <span class="icon-thumbnail"><i class="fa fa-file"></i></span>
        </li> -->
        <!-- <li class="">
          <a href="#/data-history-tracking"><span class="title">History Tracking</span></a>
          <span class="icon-thumbnail"><i class="fa fa-file"></i></span>
        </li> -->
        <!-- <li class="" ng-show="listMenu.persediaan.read===true || listMenu.persediaan.write===true">
          <a href="#/data-return-penjualan"><span class="title">Return Konsumen</span></a>
          <span class="icon-thumbnail"><i class="fa fa-file"></i></span>
        </li> -->
        <!-- <li class="" ng-show="listMenu.persediaan.read===true || listMenu.persediaan.write===true">
          <a href="#/data-rekap-po"><span class="title">Rekap PO/SPB</span></a>
          <span class="icon-thumbnail"><i class="fa fa-file"></i></span>
        </li> -->
        <!-- <li ng-show="listMenu.accountingmms.read===true || listMenu.accountingmms.write===true">
          <a href="javascript:;"><span class="title">Finance and Accounting</span>
            <span class=" arrow"></span></a>
          <span class="icon-thumbnail"><i class="fa fa-folder-open"></i></span>
          <ul class="sub-menu">
            <li class="">
              <a href="#/data-kas-masuk">Kas Masuk</a>
              <span class="icon-thumbnail">Ph</span>
            </li>
            <li class="">
              <a href="#/data-kas-keluar">Kas Keluar</a>
              <span class="icon-thumbnail">Ph</span>
            </li>
            <li class="">
              <a href="#/buku-kas-mms">Buku Besar Petty Cash</a>
              <span class="icon-thumbnail">Ph</span>
            </li>
          </ul>
        </li> -->
        <li ng-show="listMenu.hrd.read===true || listMenu.hrd.write===true">
          <a href="javascript:;"><span class="title">Cuti dan Absensi</span><span class=" arrow"></span></a>
          <span class="icon-thumbnail"><i class="fa fa-folder-open"></i></span>
          <ul class="sub-menu">
            <li>
              <a href="#/data-public-holiday">Data Public Holiday</a>
              <span class="icon-thumbnail">Ph</span>
            </li>
            <li>
              <a href="#/data-cuti-karyawan">Data Cuti Karyawan</a>
              <span class="icon-thumbnail">Dc</span>
            </li>
            <li>
              <a href="#/laporan-data-absent"><span class="title">Data Absensi</span></a>
              <span class="icon-thumbnail">Da</span>
            </li>
            <li ng-show="listMenu.hrd.read===true || listMenu.hrd.write===true">
              <a href="#/data-absent-proyek"><span class="title">Rekap Absensi Proyek</span></a>
              <span class="icon-thumbnail">Rap</span>
            </li>
            <li>
              <a href="#/laporan-data-absen-karyawan">Laporan Absen Karyawan</a>
              <span class="icon-thumbnail">Lak</span>
            </li>
            <li>
              <a href="#/laporan-cuti-karyawan"><span class="title">Laporan Cuti Per Karyawan</span></a>
              <span class="icon-thumbnail">Lck</span>
            </li>
            <li>
              <a href="#/laporan-data-cuti-karyawan2">Laporan Cuti Per Bulan</a>
              <span class="icon-thumbnail">Lcb</span>
            </li>
            <li>
              <a href="#/laporan-data-cuti-karyawan">Rekap Cuti Karyawan Per-Bulan</a>
              <span class="icon-thumbnail">Rck</span>
            </li>
            <li>
              <a href="#/rekap-cuti-karyawan-tahunan">Rekap Cuti Karyawan Per-Tahun</a>
              <span class="icon-thumbnail">Rr</span>
            </li>
            <li>
              <a href="#/rekap-keterlambatan-karyawan-tahunan">Rekap Keterlambatan Karyawan Per-Tahun</a>
              <span class="icon-thumbnail">Rr</span>
            </li>
          </ul>
        </li>
        <li ng-show="listMenu.gaji.read===true || listMenu.gaji.write===true">
          <a href="javascript:;"><span class="title">Sistem Penggajian</span><span class=" arrow"></span></a>
          <span class="icon-thumbnail"><i class="fa fa-folder-open"></i></span>
          <ul class="sub-menu">
            <li ng-show="listMenu.gaji.read===true || listMenu.gaji.write===true">
              <a href="#/data-gaji-karyawan">Data Gaji Karyawan</a>
              <span class="icon-thumbnail">Dg</span>
            </li>
            <li ng-show="listMenu.gaji.read===true || listMenu.gaji.write===true">
              <a href="#/data-payroll">Slip Gaji</a>
              <span class="icon-thumbnail">Sg</span>
            </li>
            <li>
              <a href="#/laporan-summary-gaji-karyawan">Laporan Summary Gaji Karyawan</a>
              <span class="icon-thumbnail">PO</span>
            </li>
            <li>
              <a href="#/laporan-gaji-karyawan">Laporan Gaji Karyawan</a>
              <span class="icon-thumbnail">PO</span>
            </li>
            <li>
              <a href="#/laporan-detail-gaji-karyawan">Laporan Detail Gaji Karyawan</a>
              <span class="icon-thumbnail">PO</span>
            </li>
            <li>
              <a href="#/settings"><span class="title">Settings</span></a>
              <span class="icon-thumbnail"><i class="fa fa-gear"></i></span>
            </li>
          </ul>
        </li>
        <li>
          <a href="#/data-pengumuman"><span class="title">Pengumuman</span></a>
          <span class="icon-thumbnail"><i class="fa fa-file"></i></span>
        </li>
        <li>
          <a href="javascript:;"><span class="title">Management Surat</span>
            <span class=" arrow"></span></a>
          <span class="icon-thumbnail"><i class="fa fa-folder-open"></i></span>
          <ul class="sub-menu">
            <li ng-show="listMenu.suratkeluar.read===true || listMenu.suratkeluar.write===true">
              <a href="#/surat-keluar"><span class="title">Surat Keluar</span></a>
              <span class="icon-thumbnail"><i class="fa fa-file"></i></span>
            </li>
            <li>
              <a href="#/surat-masuk"><span class="title">Surat Masuk</span></a>
              <span class="icon-thumbnail"><i class="fa fa-file"></i></span>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;"><span class="title">Tugas</span>
            <span class=" arrow"></span></a>
          <span class="icon-thumbnail"><i class="fa fa-folder-open"></i></span>
          <ul class="sub-menu">
            <li>
              <a href="#/data-surat-perintah-kerja">Surat Perintah Kerja</a>
              <span class="icon-thumbnail">Sp</span>
            </li>
            <li>
              <a href="#data-surat-perintah-perjalanan-dinas/">Surat Perintah Perjalanan Dinas</a>
              <span class="icon-thumbnail">Sd</span>
            </li>
          </ul>
        </li>
        <li
          ng-show="listMenu.finance.read===true || listMenu.finance.write===true || listMenu.hrd.read===true || listMenu.hrd.write===true">
          <a href="javascript:;"><span class="title">Reimburse</span><span class=" arrow"></span></a>
          <span class="icon-thumbnail"><i class="fa fa-folder-open"></i></span>
          <ul class="sub-menu">
            <li>
              <a href="#/data-reimburse">Data Reimburse</a>
              <span class="icon-thumbnail">Rb</span>
            </li>
            <li>
              <a href="#/laporan-data-reimburse">Laporan Data Reimburse</a>
              <span class="icon-thumbnail">Rb</span>
            </li>
            <li>
              <a href="#/laporan-rekap-reimburse">Rekap Reimburse Kendaraan</a>
              <span class="icon-thumbnail">Rb</span>
            </li>
            <li>
              <a href="#/laporan-reimburse-kendaraan">Laporan Reimburse Kendaraan</a>
              <span class="icon-thumbnail">Rb</span>
            </li>
          </ul>
        </li>
        <li
          ng-show="listMenu.assetcontrol.read===true || listMenu.assetcontrol.write===true || listMenu.assetusaha.read===true || listMenu.assetusaha.write===true">
          <a href="javascript:;"><span class="title">Asset Control</span><span class=" arrow"></span></a>
          <span class="icon-thumbnail"><i class="fa fa-folder-open"></i></span>
          <ul class="sub-menu">
            <li>
              <a href="#/data-asset">Asset Management</a>
              <span class="icon-thumbnail">Am</span>
            </li>
            <li ng-show="listMenu.assetusaha.read===true">
              <a href="#/data-asset-usaha">Asset Ijin Usaha</a>
              <span class="icon-thumbnail">Ai</span>
            </li>
            <li ng-show="listMenu.assetcontrol.write===true">
              <a href="#/data-asset-category">Asset Category</a>
              <span class="icon-thumbnail">Ac</span>
            </li>
            <li ng-show="listMenu.assetcontrol.write===true">
              <a href="#/data-assign-asset">Assign Asset</a>
              <span class="icon-thumbnail">Aa</span>
            </li>
            <li ng-show="listMenu.assetcontrol.write===true">
              <a href="#/data-return-asset">Return Asset</a>
              <span class="icon-thumbnail">Ra</span>
            </li>
            <li>
              <a href="#/data-jadwal-perpanjangan-stnk">Jadwal Perpanjang STNK</a>
              <span class="icon-thumbnail">Jp</span>
            </li>
            <li ng-show="listMenu.assetusaha.read===true">
              <a href="#/data-jadwal-perpanjangan-usaha">Jadwal Perpanjang Ijin Usaha</a>
              <span class="icon-thumbnail">Jp</span>
            </li>
          </ul>
        </li>
        <!-- <li class="" ng-show="listMenu.proyek.read===true || listMenu.proyek.write===true">
          <a href="javascript:;"><span class="title">Daily Report</span><span class=" arrow"></span></a>
          <span class="icon-thumbnail"><i class="fa fa-folder-open"></i></span>
          <ul class="sub-menu">
            <li class="">
              <a href="#/daily-report-day">Report per Day</a>
              <span class="icon-thumbnail">Rd</span>
            </li>
            <li class="">
              <a href="#/daily-report-user">Report per Karyawan</a>
              <span class="icon-thumbnail">Rk</span>
            </li>
          </ul>
        </li> -->
        <!-- <li ng-show="listMenu.marketingtools.read===true || listMenu.marketingtools.write===true">
          <a href="javascript:;"><span class="title">Marketing Tools</span><span class=" arrow"></span></a>
          <span class="icon-thumbnail"><i class="fa fa-folder-open"></i></span>
          <ul class="sub-menu">
            <li class="">
              <a href="#/data-contact-category">Contact Category</a>
              <span class="icon-thumbnail">Cc</span>
            </li>
            <li class="">
              <a href="#/data-mail-blasting">Mail Blasting</a>
              <span class="icon-thumbnail">Mb</span>
            </li>
          </ul>
        </li> -->
        <li
          ng-show="listMenu.accountingmms.read===true || listMenu.accountingmms.write===true || listMenu.spb.read===true || listMenu.spb.write===true">
          <a href="javascript:;"><span class="title">Laporan dan Rekap</span><span class=" arrow"></span></a>
          <span class="icon-thumbnail"><i class="fa fa-folder-open"></i></span>
          <ul class="sub-menu">
            <li class="" ng-show="listMenu.accountingmms.read===true || listMenu.accountingmms.write===true">
              <a href="#/laporan-outstanding-spb">Laporan Outstanding SPB</a>
              <span class="icon-thumbnail">Ldp</span>
            </li>
            <li class="" ng-show="listMenu.accountingmms.read===true || listMenu.accountingmms.write===true">
              <a href="#/laporan-outstanding-po">Laporan Outstanding PO</a>
              <span class="icon-thumbnail">Ldp</span>
            </li>
            <li class="" ng-show="listMenu.accountingmms.read===true || listMenu.accountingmms.write===true">
              <a href="#/laporan-outstanding-invoice">Laporan Outstanding Invoice</a>
              <span class="icon-thumbnail">Ldp</span>
            </li>
            <li class="" ng-show="listMenu.accountingmms.read===true || listMenu.accountingmms.write===true">
              <a href="#/laporan-invoice-jatuh-tempo">Laporan Invoice Jatuh Tempo</a>
              <span class="icon-thumbnail">Ldp</span>
            </li>
            <li class="" ng-show="listMenu.accountingmms.read===true || listMenu.accountingmms.write===true">
              <a href="#/laporan-penjualan">Laporan Penjualan (Dari Invoice)</a>
              <span class="icon-thumbnail">Ldp</span>
            </li>
            <li class="" ng-show="listMenu.accountingmms.read===true || listMenu.accountingmms.write===true">
              <a href="#/laporan-penjualan-perkategori">Laporan Penjualan Perkategori (Dari SPB)</a>
              <span class="icon-thumbnail">Ldp</span>
            </li>
            <li class="" ng-show="listMenu.accountingmms.read===true || listMenu.accountingmms.write===true">
              <a href="#/laporan-penjualan-sbp">Laporan Penjualan (Dari SPB)</a>
              <span class="icon-thumbnail">Ldp</span>
            </li>
            <li class="" ng-show="listMenu.accountingmms.read===true || listMenu.accountingmms.write===true">
              <a href="#/laporan-penjualan-sj">Laporan Penjualan (Dari SJ)</a>
              <span class="icon-thumbnail">Ldp</span>
            </li>
            <li class="" ng-show="listMenu.accountingmms.read===true || listMenu.accountingmms.write===true">
              <a href="#/laporan-stok-keluar-masuk">Laporan Stok Keluar Masuk</a>
              <span class="icon-thumbnail">Lsb</span>
            </li>
            <li class="" ng-show="listMenu.accountingmms.read===true || listMenu.accountingmms.write===true">
              <a href="#/laporan-hpp-periode">Laporan HPP Per-Periode</a>
              <span class="icon-thumbnail">Lhp</span>
            </li>
            <li class="" ng-show="listMenu.spb.read===true || listMenu.spb.write===true">
              <a href="#/laporan-rekap-spb"><span class="title">Rekap SPB</span></a>
              <span class="icon-thumbnail"><i class="fa fa-file"></i></span>
            </li>
            <!-- <li class="">
              <a href="#/laporan-laba-rugi">Laporan Laba Rugi</a>
              <span class="icon-thumbnail">Ldp</span>
            </li> -->
          </ul>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </nav>
  <div class="page-container">
    <div class="header">
      <div class="container-fluid relative">
        <div class="pull-left full-height visible-sm visible-xs">
          <div class="header-inner">
            <a class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5"
              data-toggle="sidebar" style="cursor: pointer;">
              <span class="icon-set menu-hambuger"></span>
            </a>
          </div>
        </div>
        <div class="pull-center hidden-md hidden-lg">
          <div class="header-inner">
            <div class="brand inline">
              <strong style="font-size: 16px; color: #000;display: inline-block;font-style: italic;">Sopan</strong>
            </div>
          </div>
        </div>
        <div class=" pull-right visible-sm visible-xs">
          <div class="dropdown pull-right">
            <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span class="thumbnail-wrapper d32 circular inline m-t-5">
                <img src="themes/assets/img/profiles/avatar.jpg" alt="" data-src="themes/assets/img/profiles/avatar.jpg"
                  data-src-retina="themes/assets/img/profiles/avatar_small2x.jpg" width="32" height="32">
              </span>
            </button>
            <ul class="dropdown-menu profile-dropdown" role="menu">
              <li>
                <a ng-click="doLogout()" class="clearfix">
                  <span class="pull-left">Logout</span>
                  <span class="pull-right"><i class="pg-power"></i></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pull-left sm-table hidden-xs hidden-sm">
        <div class="header-inner">
          <div class="brand inline">
            <strong style="font-size: 16px; color: #000;display: inline-block;font-style: italic;">Sopan</strong>
            <br /><span>Solusi Pemanas Air Nusantara</span>
          </div>
          <span class="search-link" style="border-left:  solid 1px #e6e6e6; padding-left:20px;"><i
              class="pg-search"></i> <input type="text" placeholder="Masukan kata kunci pencarian anda..."
              style="border: none;width: 300px;display: inline-block;font-style: italic;color: #000;"
              class="form-control" ng-keyup="$event.keyCode == 13 && doSearch()" ng-model="searchkey" /></span>
        </div>
      </div>
      <div class=" pull-right">
        <div class="visible-lg visible-md m-t-10">
          <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
            <span class="text-master">{{ userLoginName }}</span>
          </div>
          <div class="dropdown pull-right">
            <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span class="thumbnail-wrapper d32 circular inline m-t-5">
                <img src="{{userPrimaryPhoto}}" alt="" width="32" height="32">
              </span>
            </button>
            <ul class="dropdown-menu profile-dropdown" role="menu">
              <li>
                <a href="#/karyawan/profile/{{userLoginID}}" class="clearfix">
                  <span class="pull-left">Detail Profile</span>
                  <span class="pull-right"><i class="fa fa-profile"></i></span>
                </a>
              </li>
              <li>
                <a href="#/karyawan/edit/{{userLoginID}}" class="clearfix">
                  <span class="pull-left">Update Profile</span>
                  <span class="pull-right"><i class="fa fa-profile"></i></span>
                </a>
              </li>
              <li>
                <a ng-click="doLogout()" class="clearfix">
                  <span class="pull-left">Logout</span>
                  <span class="pull-right"><i class="pg-power"></i></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content-wrapper ">
      <div class="content sm-gutter">
        <div ng-view></div>
      </div>
      <div class="container-fluid container-fixed-lg footer">
        <div class="copyright sm-text-center">
          <p class="small no-margin pull-left sm-pull-reset">
            <span class="hint-text">Sopan. Copyright &copy; 2016. Build with love by </span>
            <span class="font-montserrat"><a href="">Pesona Creative</a></span>.
            <span class="hint-text"> All rights reserved. </span>
          </p>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <script>
    window.paceOptions = {
      document: true, // disabled
      eventLag: true,
      restartOnPushState: true,
      restartOnRequestAfter: true,
      ajax: {
        trackMethods: ['POST', 'GET']
      }

    };
  </script>
  <script src="themes/assets/plugins/pace/pace.min.js?version=2.13" type="text/javascript"></script>
  <script src="themes/assets/plugins/jquery/jquery-1.11.1.min.js?version=2.13" type="text/javascript"></script>
  <script src="themes/assets/plugins/modernizr.custom.js?version=2.13" type="text/javascript"></script>
  <script src="themes/assets/plugins/jquery-ui/jquery-ui.min.js?version=2.13" type="text/javascript"></script>
  <script src="themes/assets/plugins/boostrapv3/js/bootstrap.min.js?version=2.13" type="text/javascript"></script>
  <script src="themes/assets/plugins/jquery/jquery-easy.js?version=2.13" type="text/javascript"></script>
  <script src="themes/assets/plugins/jquery-unveil/jquery.unveil.min.js?version=2.13" type="text/javascript"></script>
  <script src="themes/assets/plugins/jquery-bez/jquery.bez.min.js?version=2.13"></script>
  <script src="themes/assets/plugins/jquery-ios-list/jquery.ioslist.min.js?version=2.13"
    type="text/javascript"></script>
  <script src="themes/assets/plugins/jquery-actual/jquery.actual.min.js?version=2.13"></script>
  <script src="themes/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js?version=2.13"></script>
  <script type="text/javascript" src="themes/assets/plugins/bootstrap-select2/select2.min.js?version=2.13"></script>
  <script type="text/javascript" src="themes/assets/plugins/classie/classie.js?version=2.13"></script>
  <script src="themes/assets/plugins/switchery/js/switchery.min.js?version=2.13" type="text/javascript"></script>
  <script src="themes/assets/plugins/nvd3/lib/d3.v3.js?version=2.13" type="text/javascript"></script>
  <script src="themes/assets/plugins/nvd3/nv.d3.min.js?version=2.13" type="text/javascript"></script>
  <script src="themes/assets/plugins/nvd3/src/utils.js?version=2.13" type="text/javascript"></script>
  <script src="themes/assets/plugins/nvd3/src/tooltip.js?version=2.13" type="text/javascript"></script>
  <script src="themes/assets/plugins/nvd3/src/interactiveLayer.js?version=2.13" type="text/javascript"></script>
  <script src="themes/assets/plugins/nvd3/src/models/axis.js?version=2.13" type="text/javascript"></script>
  <script src="themes/assets/plugins/nvd3/src/models/line.js?version=2.13" type="text/javascript"></script>
  <script src="themes/assets/plugins/nvd3/src/models/lineWithFocusChart.js?version=2.13"
    type="text/javascript"></script>
  <script src="themes/assets/plugins/mapplic/js/hammer.js?version=2.13"></script>
  <script src="themes/assets/plugins/mapplic/js/jquery.mousewheel.js?version=2.13"></script>
  <script src="themes/assets/plugins/mapplic/js/mapplic.js?version=2.13"></script>
  <script src="themes/assets/plugins/jquery-metrojs/MetroJs.min.js?version=2.13" type="text/javascript"></script>
  <script src="themes/assets/plugins/jquery-sparkline/jquery.sparkline.min.js?version=2.13"
    type="text/javascript"></script>
  <script src="themes/assets/plugins/skycons/skycons.js?version=2.13" type="text/javascript"></script>
  <script src="themes/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js?version=2.13"
    type="text/javascript"></script>
  <script src="themes/assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js?version=2.13"
    type="text/javascript"></script>
  <script
    src="themes/assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js?version=2.13"
    type="text/javascript"></script>
  <script src="themes/assets/plugins/jquery-datatable/media/js/dataTables.bootstrap.js?version=2.13"
    type="text/javascript"></script>
  <script src="themes/assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js?version=2.13"
    type="text/javascript"></script>
  <script src="themes/assets/plugins/datatables-responsive/js/datatables.responsive.js?version=2.13"></script>
  <script src="themes/assets/plugins/datatables-responsive/js/lodash.min.js?version=2.13"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script src="themes/pages/js/pages.min.js?version=2.13"></script>
  <script src="themes/assets/js/scripts.js?version=2.13" type="text/javascript"></script>
  <script src="assets/vendors/angular/angular.min.js?version=2.13"></script>
  <script src="assets/vendors/angular/angular-route.min.js?version=2.13"></script>
  <script src="assets/vendors/angular/angular-resource.min.js?version=2.13"></script>
  <script src="assets/vendors/angular/angular-animate.min.js?version=2.13"></script>
  <script src="assets/vendors/angular/angular-sanitize.min.js?version=2.13"></script>
  <script src="assets/vendors/angular/ngToast.min.js?version=2.13"></script>
  <script src="assets/vendors/angular/fcsaNumber.min.js?version=2.13"></script>
  <script src="assets/vendors/angular/ng-file-upload-shim.min.js?version=2.13"></script>
  <script src="assets/vendors/angular/ng-file-upload.min.js?version=2.13"></script>
  <script src="assets/vendors/angular/angular-idle.min.js?version=2.13"></script>
  <script src="assets/js/apps/main.js?version=2.13"></script>
  <script src="assets/js/apps/pelanggan.js?version=2.13"></script>
  <script src="assets/js/apps/barang.js?version=2.13"></script>
  <script src="assets/js/apps/material.js?version=2.13"></script>
  <script src="assets/js/apps/purchase-order.js?version=2.13"></script>
  <script src="assets/js/apps/purchase-order-pajak.js?version=2.13"></script>
  <script src="assets/js/apps/pembelian.js?version=2.13"></script>
  <script src="assets/js/apps/pengiriman-barang.js?version=2.13"></script>
  <script src="assets/js/apps/departement.js?version=2.13"></script>
  <script src="assets/js/apps/laporan.js?version=2.13"></script>
  <script src="assets/js/apps/laporan-all.js?version=2.13"></script>
  <script src="assets/js/apps/stok-gudang.js?version=2.13"></script>
  <script src="assets/js/apps/stok-opname.js?version=2.13"></script>
  <script src="assets/js/apps/satuan.js?version=2.13"></script>
  <script src="assets/js/apps/jabatan.js?version=2.13"></script>
  <script src="assets/js/apps/penerimaan-barang.js?version=2.13"></script>
  <script src="assets/js/apps/penjualan.js?version=2.13"></script>
  <script src="assets/js/apps/penjualan-grosir.js?version=2.13"></script>
  <script src="assets/js/services/common.services.js?version=2.13"></script>
  <script src="assets/js/apps/stok-barang.js?version=2.13"></script>
  <script src="assets/js/apps/return-po.js?version=2.13"></script>
  <script src="assets/js/apps/return-penjualan.js?version=2.13"></script>
  <script src="assets/js/apps/supplier.js?version=2.13"></script>
  <script src="assets/js/apps/sph.js?version=2.13"></script>
  <script src="assets/js/apps/spk.js?version=2.13"></script>
  <script src="assets/js/apps/audit.js?version=2.13"></script>
  <script src="assets/js/apps/transfer-stok.js?version=2.13"></script>
  <script src="assets/js/apps/invoice-proyek.js?version=2.13"></script>
  <script src="assets/js/apps/surat-jalan.js?version=2.13"></script>
  <script src="assets/js/apps/kas-masuk.js?version=2.13"></script>
  <script src="assets/js/apps/kas-keluar.js?version=2.13"></script>
  <script src="assets/js/apps/buku-besar.js?version=2.13"></script>
  <script src="assets/js/apps/contact-category.js?version=2.13"></script>
  <script src="assets/js/apps/mail-blasting.js?version=2.13"></script>
  <script src="assets/js/apps/penerimaan-invoice.js?version=2.13"></script>
  <script src="assets/js/apps/daily-report.js?version=2.13"></script>
  <script src="assets/vendors/tinymce/tinymce.min.js"></script>
  <script src="assets/vendors/angular-ui-tinymce/dist/tinymce.min.js"></script>
  <script src="assets/js/apps/history-tracking.js?version=2.13"></script>
  <script src="assets/js/apps/karyawan.js?version=2.13"></script>
  <script src="assets/js/apps/pajak-po.js?version=2.13"></script>
  <script src="assets/js/apps/faktur-pajak-po.js?version=2.13"></script>
  <script src="assets/js/apps/outstanding-pajak-po.js?version=2.13"></script>
  <script src="assets/js/apps/stok-purchasing.js?version=2.13"></script>
  <script src="assets/js/apps/file-category.js?version=2.13"></script>
  <script src="assets/js/apps/file.js?version=2.13"></script>
  <script src="assets/js/apps/vo-spb.js?version=2.13"></script>
  <script src="assets/js/apps/manage-device.js?version=2.13"></script>
  <script src="assets/js/apps/gudang.js?version=2.13"></script>
  <script src="assets/js/apps/public-holiday.js?version=2.13"></script>
  <script src="assets/js/apps/cuti-karyawan.js?version=2.13"></script>
  <script src="assets/js/apps/vo-proyek.js?version=2.13"></script>
  <script src="assets/js/apps/proyek.js?version=2.13"></script>
  <script src="assets/js/apps/gaji-karyawan.js?version=2.13"></script>
  <script src="assets/js/apps/payroll.js?version=2.13"></script>
  <script src="assets/js/apps/settings.js?version=2.13"></script>
  <script src="assets/js/apps/training-record.js?version=2.13"></script>
  <script src="assets/js/apps/pengumuman.js?version=2.13"></script>
  <script src="assets/js/apps/surat-keluar.js?version=2.13"></script>
  <script src="assets/js/apps/surat-masuk.js?version=2.13"></script>
  <script src="assets/js/apps/surat-perintah-kerja.js?version=2.13"></script>
  <script src="assets/js/apps/surat-perintah-perjalanan-dinas.js?version=2.13"></script>
  <script src="assets/js/apps/reimburse.js?version=2.13"></script>
  <script src="assets/js/apps/asset.js?version=2.13"></script>
  <script src="assets/js/apps/asset-usaha.js?version=2.13"></script>
  <script src="assets/js/apps/assetcategory.js?version=2.13"></script>
  <script src="assets/js/apps/assign-asset.js?version=2.13"></script>
  <script src="assets/js/apps/return-asset.js?version=2.13"></script>
  <script src="assets/js/apps/notifikasi-maintenance.js?version=2.13"></script>
  <script src="assets/js/apps/work-schedule.js?version=2.13"></script>
  <script src="assets/js/apps/work-report.js?version=2.13"></script>
  <script src="assets/js/apps/kategori-spb.js?version=2.13"></script>
  <script src="assets/js/apps/file-penjualan.js?version=2.13"></script>
  <script src="assets/js/apps/kategori-work-report.js?version=2.13"></script>
  <script src="assets/js/apps/dashboard.js?version=2.13"></script>
</body>

</html>