<div class="jumbotron" data-pages="parallax" style="margin-bottom: 0;">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <a>Asset Control</a>
        </li>
        <li><a href="#" class="active">Assign Asset</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid container-fixed-lg bg-white">
  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="panel-title" style="width: 100%;">
        <div class="form-group row" ng-class="{ 'has-error' : userForm.$submitted && userForm.pricem.$invalid }">
          <label class="col-xs-12 col-sm-1 sm-m-b-10" style="text-align: left;padding-top:5px;font-size:13px">Periode :</label>
          <div class="col-xs-12 col-sm-2 sm-m-b-10">
            <select class="form-control" ng-model="year_selected" style="font-size:13px">
              <option ng-repeat="x in tahunList" value="{{ x }}">{{ x }}</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-4 sm-m-b-10">
            <select class="form-control" ng-model="karyawan" style="font-size:13px">
              <option value="">KARYAWAN</option>
              <option ng-repeat="x in data_karyawan" value="{{ x.IDKaryawan }}">{{ x.Nama }}</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-2 sm-m-b-10 hidden-xs">
            <button type="button" ng-click="refreshData()" class="btn btn-info"
                    style="font-size:13px;text-transform: none;"><i class="fa fa-filter"></i> Filter</button>
          </div>
          <div class="col-xs-12 col-sm-2 sm-m-b-10 visible-xs">
            <button type="button" ng-click="refreshData()" class="btn btn-info btn-block"
                    style="font-size:13px;text-transform: none;"><i class="fa fa-filter"></i> Filter</button>
            <a href="#/assign-asset" type="button" class="btn btn-info btn-block"><i class="fa fa-plus"></i> Add new</a>
          </div>
        </div>
      </div>
      <div class="btn-group pull-right m-b-10 hidden-xs">
        <a href="#/assign-asset" type="button" class="btn btn-info"><i class="fa fa-plus"></i> Add new</a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover" id="basicTable">
          <thead>
            <tr>
              <th style="width:20px">No</th>
              <th style="width:120px">Kode Assign</th>
              <th style="width:100px">Tanggal</th>
              <th>Karyawan</th>
              <th>Proyek</th>
              <th style="width:100px">Total Item</th>
              <th style="width:100px">Status</th>
              <th style="width:200px">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in data_assign" jq-table>
              <td class="v-align-middle v-align-center">
                <p>{{ x.No }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ x.NoAssign }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ x.Tanggal }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ x.Karyawan }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ x.Proyek }}</p>
              </td>
              <td class="v-align-middle v-align-center">
                <p>{{ x.TotalItem }}</p>
              </td>
              <td class="v-align-middle">
                <p>
                  <span class="approved" ng-show="x.Status==='1'">Diterima oleh Karyawan</span>
                  <span class="pending" ng-show="x.Status==='0'">Pending</span>
                </p>
              </td>
              <td class="v-align-middle">
                <a ng-click="showModal(x.IDAssign)" class="btn btn-primary btn-xs" ng-show="x.Status==='0'"><i
                    class="fa fa-credit-card"></i> Tap</a>
                <a ng-click="showModal2(0, x.IDAssign, x.IDKaryawan)" class="btn btn-primary btn-xs"
                  ng-show="x.Status==='0'"><i class="fa fa-hand-o-up"></i> FP 1</a>
                <a ng-click="showModal2(1, x.IDAssign, x.IDKaryawan)" class="btn btn-primary btn-xs"
                  ng-show="x.Status==='0'"><i class="fa fa-hand-o-up"></i> FP 2</a>
                <a href="#/assign-asset/detail/{{x.IDAssign}}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>
                  Detail</a>
                <button class="btn btn-danger btn-xs" ng-click="removeRow(x.IDAssign) && x.Status==='0'"><i
                    class="fa fa-remove"></i>
                  Hapus</button>
                <a ng-click="forceUpdate(x.IDAssign)" class="btn btn-info btn-xs" ng-show="x.Status==='0'"><i
                    class="fa fa-credit-card"></i> Set to Received (Force Mode)</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade stick-up" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="margin-top: 100px;background: #900db9;border-color: #900db9;">
      <div class="modal-header clearfix text-left"></div>
      <div class="modal-body" style="text-align: center;padding: 20px 0 40px;">
        <img src="themes/assets/images/smile.png" />
        <h2 style="color: #fff;">Silahkan Tap RFID anda!</h2>
        <input type="text" name="rfidcode" id="rfidcode" ng-model="rfidcode" ng-keypress="afterScan($event)"
          style="border: none;background: #900db9;color: #900db9;" />
      </div>
    </div>
  </div>
</div>
<div class="modal fade stick-up" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="margin-top: 100px;background: #900db9;border-color: #900db9;">
      <div class="modal-header clearfix text-left"></div>
      <div class="modal-body" style="text-align: center;padding: 20px 0 40px;">
        <img src="themes/assets/images/finger-print.png" />
        <h2 style="color: #fff; font-size: 18px; font-weight: bold;" ng-click="approvePengambilan(IDDistribusi)">Scan
          finger
          print untuk autentikasi...</h2>
      </div>
    </div>
  </div>
</div>
