<div class="jumbotron" data-pages="parallax" style="margin-bottom: 0;">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <a>Master Data</a>
        </li>
        <li><a class="active">Data Rekap VO</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid container-fixed-lg bg-white">
  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="panel-title" style="min-width: 900px;">
        <div class="form-group row" ng-class="{ 'has-error' : userForm.$submitted && userForm.pricem.$invalid }">
          <label class="col-xs-1" style="text-align: right;padding-top:5px;font-size:13px">Filter :</label>
          <div class="col-xs-2">
            <input type="text" class="form-control datepick" ng-model="datestart" placeholder="Dari" />
          </div>
          <div class="col-xs-2">
            <input type="text" class="form-control datepick" ng-model="dateend" placeholder="Sampai" />
          </div>
          <div class="col-xs-2">
            <select class="form-control" ng-model="kode_proyek" style="font-size:13px">
              <option value="">SEMUA PROYEK</option>
              <option ng-repeat="p in proyek" value="{{p.IDProyek}}">{{p.Nama}}</option>
            </select>
          </div>
          <div class="col-xs-2">
            <button type="button" ng-click="refreshData()" class="btn btn-info" style="font-size:13px;text-transform: none;"><i class="fa fa-filter"></i> Filter</button>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover" id="basicTable">
          <thead>
            <tr>
              <th style="width:20px">No</th>
              <th style="width:80px">No VO</th>
              <th style="width:70px">Tanggal</th>
              <th>Proyek</th>
              <th style="width:100px">Grand Total</th>
              <th style="width:100px">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in data_vo" jq-table>
              <td class="v-align-middle v-align-center">
                <p>{{ x.No }}</p>
              </td>
              <td class="v-align-middle v-align-center">
                <p>{{ x.NoVO }}</p>
              </td>
              <td class="v-align-middle v-align-center">
                <p>{{ x.Tanggal }}</p>
              </td>
              <td class="v-align-middle">
                <p><a href="#/data-vo-proyek/{{x.IDProyek}}">{{ x.Proyek }}</a></p>
              </td>
              <td class="v-align-middle v-align-center">
                <p>{{ x.NilaiVO | number }}</p>
              </td>
              </td>
              <td class="v-align-middle">
                <a href="#/vo-proyek/edit/{{x.IDVO}}" class="btn btn-default btn-xs" title="Edit" ng-show="listMenu.proyek.write===true"><i class="fa fa-edit"></i></a>
                <a href="#/vo-proyek/detail/{{x.IDVO}}" class="btn btn-success btn-xs" title="Detail"><i class="fa fa-search"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal fade stick-middle" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
          </button>
          <h5>History Pembayaran Invoice <span class="semi-bold">{{NoInv}}</span> </h5>
        </div>
        <div class="modal-body">
          <div class="form-group-attached">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-less-space" id="basicTable">
                  <thead>
                    <tr>
                      <th style="width:50px">No.</th>
                      <th style="width:80px">No. Bukti</th>
                      <th style="width:80px">Tanggal</th>
                      <th>Bank</th>
                      <th style="width:120px">Jumlah</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="x in detailpembayaran">
                      <td class="v-align-middle v-align-center">
                        {{ x.No }}
                      </td>
                      <td class="v-align-middle">
                        <strong>{{ x.NoPembayaran }}</strong>
                      </td>
                      <td class="v-align-middle">
                        {{ x.Tanggal }}
                      </td>
                      <td class="v-align-middle">
                        {{ x.Bank }}
                      </td>
                      <td class="v-align-middle">
                        {{ x.Jumlah | number }}
                      </td>
                    </tr>
                    <tr ng-show="!detailpembayaran.length">
                      <td colspan="5">Belum ada pembayaran yang diterima untuk Proyek ini...</td>
                    </tr>
                    <tr>
                      <td colspan="4" class="v-align-middle" style="text-align: right;border-bottom: none; padding: 10px 20px 0px !important;">
                        <label>Total Pembayaran : </label>
                      </td>
                      <td class="v-align-middle" style="text-align: right;border-bottom: none; padding: 10px 20px 0px !important;">{{Terbayar | number}}</td>
                    </tr>
                    <tr>
                      <td colspan="4" class="v-align-middle" style="text-align: right;border-bottom: none; padding: 10px 20px 0px !important;">
                        <label>Total Tagihan : </label>
                      </td>
                      <td class="v-align-middle" style="text-align: right;border-bottom: none; padding: 10px 20px 0px !important;">{{GrandTotal | number}}</td>
                    </tr>
                    <tr>
                      <td colspan="4" class="v-align-middle" style="text-align: right;border-bottom: none; padding: 10px 20px 0px !important;">
                        <label>Sisa Piutang Progress : </label>
                      </td>
                      <td class="v-align-middle" style="text-align: right;border-bottom: none; padding: 10px 20px 0px !important;">{{Sisa | number}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4 m-t-10 sm-m-t-10">
              <button type="button" ng-click="closeModal2()" class="btn btn-primary btn-block m-t-5">Tutup</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>