<div class="jumbotron" data-pages="parallax" style="margin-bottom: 0;">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <a>Master Data</a>
        </li>
        <li><a href="#" class="active">Data Gudang</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid container-fixed-lg bg-white">
  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="panel-title" style="min-width: 800px;">
        MANAGEMENT DATA GUDANG
      </div>
      <div class="btn-group pull-right m-b-10">

        <a href="#/gudang/new/" type="button" class="btn btn-info"><i class="fa fa-plus"></i> Add new</a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover" id="basicTable">
          <thead>
            <tr>
              <th style="width:20px">No</th>
              <th>Nama Gudang</th>
              <th style="width:100px">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in data_gudang" jq-table>
              <td class="v-align-middle v-align-center">
                <p>{{ x.No }}</p>
              </td>
              <td class="v-align-middle">
                <p>
                  {{ x.Nama }}
                  <br>
                  <span ng-show="x.IsDefault == 1" class="badge badge-success"><em>Default</em></span>
                </p>
              </td>
              <td class="v-align-middle">
                <a href="#/gudang/edit/{{ x.IDGudang }}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>
                  Edit</a>
                <button class="btn btn-danger btn-xs" ng-click="removeRow(x.IDGudang)"><i class="fa fa-remove"></i>
                  Hapus</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>