<div class="jumbotron" data-pages="parallax" style="margin-bottom: 0;">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <a>Finance &amp; Accounting</a>
        </li>
        <li><a class="active">Data Kas Masuk</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid container-fixed-lg bg-white">
  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="panel-title" style="min-width: 800px;">
        <div class="form-group row" ng-class="{ 'has-error' : userForm.$submitted && userForm.pricem.$invalid }">
          <label class="col-xs-1" style="text-align: right;padding-top:5px;font-size:13px">Filter :</label>
          <div class="col-xs-2">
            <input type="text" class="form-control datepick" ng-model="datestart" placeholder="Dari tanggal" />
          </div>
          <div class="col-xs-2">
            <input type="text" class="form-control datepick" ng-model="dateend" placeholder="Sampai tanggal" />
          </div>
          <div class="col-xs-1">
            <button type="button" ng-click="refreshData()" class="btn btn-info" style="font-size:13px;text-transform: none;"><i class="fa fa-filter"></i> Filter</button>
          </div>
        </div>
      </div>
      <div class="btn-group pull-right m-b-10">
        <a href="#/kas-masuk/new" type="button" class="btn btn-info" ng-show="listMenu.accountingmms.write===true"><i class="fa fa-plus"></i> Add new</a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover" id="basicTable">
          <thead>
            <tr>
              <th style="width:20px">No</th>
              <th style="width:140px">No. Bukti</th>
              <th style="width:100px">Tanggal</th>
              <th>Keterangan</th>
              <th style="width:160px">Jumlah Pembayaran</th>
              <th style="width:160px">Diterima Dari</th>
              <th style="width:180px">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in data_pembayaran" jq-table>
              <td class="v-align-middle v-align-center">
                <p>{{ x.No }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ x.NoBukti }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ x.Tanggal }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ x.Keterangan }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ x.Jumlah | number }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ x.ContactPerson }}</p>
              </td>
              </td>
              <td class="v-align-middle">
                <a href="#/kas-masuk/edit/{{ x.NoBukti }}" class="btn btn-default btn-xs" ng-show="listMenu.accountingmms.write===true"><i class="fa fa-edit"></i> Detail</a>
                <button class="btn btn-danger btn-xs" ng-click="removeRow(x.IDKasMasuk)" ng-show="listMenu.accountingmms.write===true"><i class="fa fa-remove"></i> Hapus</button>
                <button class="btn btn-primary btn-xs" ng-click="doPrint(x.IDKasMasuk)"><i class="fa fa-print"></i> Print</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
