<div class="jumbotron" data-pages="parallax" style="margin-bottom: 0;">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <a>Asset Control</a>
        </li>
        <li><a href="#" class="active">Return Asset</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid container-fixed-lg bg-white">
  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="panel-title" style="width: 100%;">
        <div class="form-group row" ng-class="{ 'has-error' : userForm.$submitted && userForm.pricem.$invalid }">
          <label class="col-xs-12 col-sm-1 sm-m-b-10" style="text-align: left;padding-top:5px;font-size:13px">Periode :</label>
          <div class="col-xs-12 col-sm-2 sm-m-b-10">
            <select class="form-control" ng-model="year_selected" style="font-size:13px">
              <option ng-repeat="x in tahunList" value="{{ x }}">{{ x }}</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-4 sm-m-b-10">
            <select class="form-control" ng-model="karyawan" style="font-size:13px">
              <option value="">KARYAWAN</option>
              <option ng-repeat="x in data_karyawan" value="{{ x.IDKaryawan }}">{{ x.Nama }}</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-2 sm-m-b-10 hidden-xs">
            <button type="button" ng-click="refreshData()" class="btn btn-info"
                    style="font-size:13px;text-transform: none;"><i class="fa fa-filter"></i> Filter</button>
          </div>
          <div class="col-xs-12 col-sm-2 sm-m-b-10 visible-xs">
            <button type="button" ng-click="refreshData()" class="btn btn-info btn-block"
                    style="font-size:13px;text-transform: none;"><i class="fa fa-filter"></i> Filter</button>
            <a href="#/assign-asset" type="button" class="btn btn-info btn-block"><i class="fa fa-plus"></i> Add new</a>
          </div>
        </div>
      </div>
      <div class="btn-group pull-right m-b-10 hidden-xs">
        <a href="#/return-asset" type="button" class="btn btn-info"><i class="fa fa-plus"></i> Add new</a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover" id="basicTable">
          <thead>
            <tr>
              <th style="width:20px">No</th>
              <th style="width:150px">Kode Return</th>
              <th style="width:150px">Tanggal</th>
              <th>Karyawan</th>
              <th style="width:100px">Total Item</th>
              <th style="width:150px">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in data_return" jq-table>
              <td class="v-align-middle v-align-center">
                <p>{{ x.No }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ x.NoReturn }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ x.Tanggal }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ x.Karyawan }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ x.TotalItem }}</p>
              </td>
              <td class="v-align-middle">
                <a href="#/return-asset/detail/{{x.IDReturn}}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>
                  Detail</a>
                <!-- <button class="btn btn-danger btn-xs" ng-click="removeRow(x.IDReturn)"><i class="fa fa-remove"></i> Hapus</button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
