<div class="jumbotron" data-pages="parallax" style="margin-bottom: 0;">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <a>Notifikasi Maintenance</a>
        </li>
        <li><a class="active">Data Notifikasi Maintenance</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid container-fixed-lg bg-white">
  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="panel-title" style="width: 100%;">
        <div class="form-group row" ng-class="{ 'has-error' : userForm.$submitted && userForm.pricem.$invalid }">
          <label class="col-xs-12 col-sm-1 sm-m-b-10" style="text-align: left;padding-top:5px;font-size:13px">Filter
            :</label>
          <div class="col-xs-6 col-sm-2 sm-m-b-10">
            <input type="text" ng-model="datestart" class="form-control datepick" placeholder="Tanggal Awal" />
          </div>
          <div class="col-xs-6 col-sm-2 sm-m-b-10">
            <input type="text" ng-model="dateend" class="form-control datepick" placeholder="Tanggal Akhir" />
          </div>
          <div class="col-xs-12 col-sm-2 sm-m-b-10">
            <select class="form-control" ng-model="status">
              <option value="">SEMUA STATUS</option>
              <option value="0">DELETED</option>
              <option value="1">DONE</option>
              <option value="2">COMPLETED</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-2 sm-m-b-10 hidden-xs">
            <button type="button" ng-click="filterData()" class="btn btn-info"><i class="fa fa-filter"></i>
              Filter</button>
          </div>
          <div class="col-xs-12 col-sm-2 sm-m-b-10 visible-xs">
            <button type="button" ng-click="filterData()" class="btn btn-block btn-info"><i class="fa fa-filter"></i>
              Filter</button>
          </div>
        </div>
      </div>
      <div class="btn-group pull-right m-b-10 hidden-xs">
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover" id="basicTable">
          <thead>
            <tr>
              <th style="width:20px">No</th>
              <th style="width:80px">Tanggal</th>
              <th>Keterangan</th>
              <th style="width:200px">Tanggal Maintenance</th>
              <th style="width:200px">Status</th>
              <th style="width:60px">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(index, x) in data" jq-table>
              <td class="v-align-middle v-align-center">
                <p>{{ index+1 }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ x.Tanggal }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ x.Keterangan }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ x.TanggalAkhirMaintenance }}</p>
              </td>
              <td class="v-align-middle">
                <p>
                  <strong ng-show="x.Status==='NEW'" style="color: black;">{{ x.Status }}</strong>
                  <strong ng-show="x.Status==='DELETED'" style="color: red;">{{ x.Status }}</strong>
                  <strong ng-show="x.Status==='COMPLETED'" style="color: green ;">{{ x.Status }}</strong>
                  <br /><em>{{ x.KeteranganStatus }}</em>
                </p>
              </td>
              <td class="v-align-middle">
                <a href="#/penjualan/detail/{{ x.IDPenjualan }}" class="btn btn-primary btn-xs"
                  title="Lihat SPB"><i class="fa fa-file"></i></a>
                <a href="#/notifikasi-maintenance/edit/{{ x.IDNotifikasi }}" class="btn btn-default btn-xs"
                  title="Edit"><i class="fa fa-edit"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>