<div class="jumbotron" data-pages="parallax" style="margin-bottom: 0;">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <a>Master Data</a>
        </li>
        <li><a href="#" class="active">Data Mail Blasting</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid container-fixed-lg bg-white">
  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="panel-title">History Mail Blasting
      </div>
      <div class="btn-group pull-right m-b-10">
        <a href="#/mail-blasting/new/" type="button" class="btn btn-info"><i class="fa fa-plus"></i> New Blasting</a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover" id="basicTable">
          <thead>
            <tr>
              <th style="width:20px">No</th>
              <th style="width:150px">Subject</th>
              <th>To</th>
              <th style="width:100px">Sent on</th>
              <th style="width:150px">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in data_blasting" jq-table>
              <td class="v-align-middle v-align-center">
                <p>{{ x.No }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ x.Subject }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ x.Recipient }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ x.DateCreated }}</p>
              </td>
              <td class="v-align-middle">
                <a href="#/resend-mail-blasting/{{ x.IDBlasting }}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> Edit and Resend</a>
                <button class="btn btn-danger btn-xs" ng-click="removeRow(x.IDBlasting)"><i class="fa fa-remove"></i> Hapus</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>