<div class="jumbotron" data-pages="parallax" style="margin-bottom: 0;">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
      <div class="inner">
        <ul class="breadcrumb">
          <li>
            <a>Master Data</a>
          </li>
          <li><a href="#/data-departement">Data Departement</a>
          </li>
          <li><a href="#" class="active">Departement Baru</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
      <div class="container-fluid container-fixed-lg bg-white">
        <div class="row">
              <div class="col-md-6">
        <div class="panel panel-transparent">
                  <div class="panel-heading">
                    <div class="panel-title">
                      Input Departement Baru
                    </div>
                  </div>
                  <div class="panel-body">
                    <h5>Silahkan lengkapi form dibawah untuk membuat data departement baru...</h5>
                    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
                      <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.$submitted && userForm.nama.$invalid }">
                        <label>Nama Departement</label>
                        <input type="text" name="nama" ng-model="nama" class="form-control" required>
                        <p ng-show="userForm.$submitted && userForm.nama.$invalid" class="help-block">Wajib diisi.</p>
                      </div>                 
                      <button type="submit" class="btn btn-info" ng-disabled="processing"><i class="fa fa-save"></i> Simpan</button>
                      <a href="#/data-departement" type="button" class="btn btn-link"><i class="fa fa-long-arrow-left"></i> Kembali</a>
                    </form>
                  </div>
                </div>
        </div>
        </div>
        </div>

