<div class="jumbotron" style="margin-bottom: 0;">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <a>Persediaan</a>
        </li>
        <li><a href="#/data-audit-stok">Data Audit</a>
        </li>
        <li><a class="active">Detail Audit</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid container-fixed-lg bg-white">
  <div class="row">
    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">
            Detail Audit
          </div>
        </div>
        <div class="panel-body">
          <h5>Summary Audit</h5>
          <div class="row" style="margin: 0;">
            <div class="col-md-6">
              <div class="form-group" ng-class="{ 'has-error' : userForm.$submitted && userForm.NoAudit.$invalid }">
                <label>No. Audit</label>
                <input type="text" name="NoAudit" ng-model="NoAudit" class="form-control" readonly="">
                <p ng-show="userForm.$submitted && userForm.NoAudit.$invalid" class="help-block">Wajib diisi.</p>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : userForm.$submitted && userForm.Tanggal.$invalid }">
                <label>Tanggal.</label>
                <input type="text" name="Tanggal" ng-model="Tanggal" class="form-control datepick" readonly="">
                <p ng-show="userForm.$submitted && userForm.Tanggal.$invalid" class="help-block">Wajib diisi.</p>
              </div>
              <div class="form-group">
                <label>User.</label>
                <input type="text" name="usrlogin" value="{{ CreatedBy }}" class="form-control" readonly="">
              </div>
              <!-- <div class="form-group">
                <label>No SPB.</label>
                <input type="text" name="NoSPB" value="{{ NoSPB }}" class="form-control" readonly="">
              </div> -->
              <div class="form-group">
                <label>Gudang</label>
                <input type="text" name="Gudang" value="{{ Gudang }}" class="form-control" readonly="">
              </div>

              <!-- <div class="form-group">
                <label>No. SPB</label>
                <select class="form-control select2" id="spb" name="spb" ng-model="spb">
                  <option value="">Pilih SPB</option>
                  <option ng-repeat="x in data_penjualan" value="{{x.IDPenjualan}}" select2>{{ x.NoPenjualan }} | {{
                    x.Pelanggan }}</option>
                </select>
              </div> -->
            </div>
          </div>
          <h5>Daftar Barang.</h5>
          <div class="row" style="margin: 0;">
            <div class="col-sm-12">
              <table class="table table-hover table-less-space" id="basicTable">
                <thead>
                  <tr>
                    <th style="width:20px"></th>
                    <th>Nama Produk</th>
                    <th style="width:120px">Harga</th>
                    <th style="width:120px">SN</th>
                    <th style="width:150px">Qty Penyesuaian</th>
                    <th style="width:150px">Sub Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="x in data_detail">
                    <td class="v-align-middle">
                      {{ x.No }}
                    </td>
                    <td class="v-align-middle">
                      {{ x.NamaBarang }}
                    </td>
                    <td class="v-align-middle">
                      {{ x.Harga | number }}
                    </td>
                    <td class="v-align-middle">
                      {{ x.SN }}
                    </td>
                    <td class="v-align-middle">
                      {{ x.SPGudang | number }}
                    </td>
                    <td class="v-align-middle">
                      {{ x.SubTotal | number }}
                    </td>
                  </tr>
                  <tr ng-show="!data_detail.length">
                    <td colspan="6">Tidak ada barang yang terdaftar...</td>
                  </tr>
                  <tr>
                    <td colspan="6"><strong>Keterangan : </strong>{{ Keterangan }}</td>
                  </tr>
                </tbody>
              </table>
              <br />
              <br />
            </div>
          </div>
          <div class="row" style="margin: 0;">
            <div class="col-md-6">
              <div class="form-group m-b-40" ng-show="deleted_by != null">
                <div class="delete-card">
                  <label>Deleted by :</label>
                  {{ deleted_by }} - {{ deleted_date }} <br>
                  Remark : {{ deleted_remark }}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row" ng-class="{ 'has-error' : userForm.$submitted && userForm.total.$invalid }">
                <label class="col-xs-4" style="text-align: right;padding-top:5px;">Total Item:</label>
                <div class="col-xs-8">
                  <input type="text" name="total" id="total" ng-model="TotalItem" class="form-control hlprice price"
                    readonly="" fcsa-number="{  }" required>
                </div>
              </div>
              <div class="form-group row"
                ng-class="{ 'has-error' : userForm.$submitted && userForm.TotalHPP.$invalid }">
                <label class="col-xs-4" style="text-align: right;padding-top:5px;">Total Nilai:</label>
                <div class="col-xs-8">
                  <input type="text" name="TotalHPP" id="TotalHPP" ng-model="TotalHPP"
                    class="form-control hlprice price" readonly="" fcsa-number="{  }" required>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-info" ng-disabled="processing"><i class="fa fa-save"></i> Simpan</button>
          <a href="#/data-audit-stok" type="button" class="btn btn-link"><i class="fa fa-long-arrow-left"></i>
            Kembali</a>
        </div>
      </div>
    </form>
  </div>
</div>
