<div class="jumbotron" data-pages="parallax" style="margin-bottom: 0;">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <a>Finance &amp; Accounting</a>
        </li>
        <li><a href="#/data-kas-masuk">Data Kas Masuk</a>
        </li>
        <li><a href="#" class="active">Kas Masuk</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid container-fixed-lg bg-white">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">
            Input Kas Masuk
          </div>
        </div>
        <div class="panel-body">
          <h5>Silahkan lengkapi form dibawah untuk membuat data kas masuk...</h5>
          <form name="userForm" ng-submit="submitForm(userForm.$valid)">
            <div class="form-group form-group-default disabled" ng-class="{ 'has-error' : userForm.$submitted && userForm.no_bukti.$invalid }">
              <label>No. Bukti (AUTO)</label>
              <input type="text" name="no_bukti" id="no_bukti" ng-model="no_bukti" class="form-control" readonly="">
              <p ng-show="userForm.$submitted && userForm.no_bukti.$invalid" class="help-block">Wajib diisi.</p>
            </div>
            <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.$submitted && userForm.tanggal.$invalid }">
              <label>Tanggal</label>
              <input type="text" name="tanggal" id="tanggal" ng-model="tanggal" class="form-control datepick" required>
              <p ng-show="userForm.$submitted && userForm.tanggal.$invalid" class="help-block">Wajib diisi.</p>
            </div>
            <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.$submitted && userForm.cp.$invalid }">
              <label>Diterima dari</label>
              <input type="text" name="cp" id="cp" ng-model="cp" class="form-control" required>
              <p ng-show="userForm.$submitted && userForm.cp.$invalid" class="help-block">Wajib diisi.</p>
            </div>
            <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.$submitted && userForm.jumlah_pembayaran.$invalid }">
              <label>Jumlah Uang</label>
              <input type="text" name="jumlah_pembayaran" ng-model="jumlah_pembayaran" class="form-control" fcsa-number="{  }" required>
              <p ng-show="userForm.$submitted && userForm.jumlah_pembayaran.$invalid" class="help-block">Wajib diisi.</p>
            </div>
            <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.$submitted && userForm.darirekening.$invalid }">
              <label>Dari Rekening</label>
              <select class="form-control" name="darirekening" id="darirekening" ng-model="darirekening" ng-readonly="disablecode" required>
                <option value="">Dari Rekening</option>
                <option ng-repeat="p in dari_rekening" value="{{p.IDRekening}}" data-parent="{{p.IDParent}}">{{p.KodeRekening}} / {{p.NamaRekening}}</option>
              </select>
              <p ng-show="userForm.$submitted && userForm.darirekening.$invalid" class="help-block">Wajib dipilih.</p>
            </div>
            <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.$submitted && userForm.kerekening.$invalid }">
              <label>Ke Rekening</label>
              <select class="form-control" name="kerekening" id="kerekening" ng-model="kerekening" ng-readonly="disablecode" required>
                <option ng-repeat="p in ke_rekening" value="{{p.IDRekening}}" data-parent="{{p.IDParent}}">{{p.KodeRekening}} / {{p.NamaRekening}}</option>
              </select>
              <p ng-show="userForm.$submitted && userForm.kerekening.$invalid" class="help-block">Wajib dipilih.</p>
            </div>
            <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.$submitted && userForm.keterangan.$invalid }">
              <label>Keterangan</label>
              <textarea name="keterangan" ng-model="keterangan" class="form-control" style="height:100px" required></textarea>
              <p ng-show="userForm.$submitted && userForm.keterangan.$invalid" class="help-block">Wajib diisi.</p>
            </div>
            <button type="submit" class="btn btn-info" ng-disabled="processing"><i class="fa fa-save"></i> Simpan</button>
            <a href="#/data-pembayaran-lain" type="button" class="btn btn-link"><i class="fa fa-long-arrow-left"></i> Kembali</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
