<div class="jumbotron" data-pages="parallax" style="margin-bottom: 0;">
        <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
          <div class="inner">
            <ul class="breadcrumb">
              <li>
                <a>Laporan</a>
              </li>
              <li><a class="active">Laporan Data Proyek</a>
              </li>
            </ul>
          </div>
        </div>
        </div>
          <div class="container-fluid container-fixed-lg bg-white">
            <div class="panel panel-transparent">
              <div class="panel-heading">
                <div class="panel-title" style="min-width: 800px;">
                    <div class="form-group row" ng-class="{ 'has-error' : userForm.$submitted && userForm.pricem.$invalid }">
                        <label class="col-xs-1" style="text-align: right;padding-top:5px;font-size:13px">Filter :</label>
                        <div class="col-xs-3">
                            <select class="form-control" ng-model="tahun" style="font-size:13px">
                              <option value="">PILIH TAHUN</option>
                              <option ng-repeat="p in year" value="{{p}}">{{p}}</option>
                            </select>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" ng-click="filterdata()" class="btn btn-info"><i class="fa fa-filter"></i> Filter</button>
                        </div>
                        <div class="col-xs-2">
                            <a href="" class="btn btn-info" style="margin-left: -45px; text-transform: capitalize;"><i class="fa fa-print"></i> Print</a>
                        </div>
                    </div>  
                </div>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-hover table-smaller2">
                    <thead>
                      <tr>
                        <th style="width:20px">No</th>
                        <th style="width:100px">Kode</th>
                        <th>Proyek</th>
                        <th>Client</th>
                        <th style="width:100px">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="x in data_proyek" jq-table>
                        <td class="v-align-middle">
                          <p>{{ x.No }}</p>
                        </td>
                        <td class="v-align-middle">
                          <p>{{ x.KodeProyek }}</p>
                        </td>
                        <td class="v-align-middle">
                          <p>{{ x.NamaProyek }}</p>
                        </td>
                        <td class="v-align-middle">
                          <p>{{ x.NamaClient }}</p>
                        </td>
                        <td class="v-align-middle">
                          <p>{{ x.Status }}</p>
                        </td>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>