<div class="jumbotron" data-pages="parallax" style="margin-bottom: 0;">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <a>Master Data</a>
        </li>
        <li><a href="#/data-penerimaan-invoice">Data Penerimaan Pembayaran Invoice</a>
        </li>
        <li><a class="active">Penerimaan Pembayaran Invoice Baru</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid container-fixed-lg bg-white">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">
            Input Penerimaan Pembayaran Invoice Baru
          </div>
        </div>
        <div class="panel-body">
          <h5>Silahkan lengkapi form dibawah untuk membuat penerimaan pembayaran invoice baru...</h5>
          <form name="userForm" ng-submit="submitForm(userForm.$valid)">
            <div class="form-group form-group-default disabled">
              <label>No Penerimaan (AUTO)</label>
              <input type="text" name="noinv" ng-model="noinv" maxlength="20" class="form-control" disabled="">
            </div>
            <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.$submitted && userForm.spb.$invalid }">
              <label>No Invoice</label>
              <select class="form-control" id="invoice" name="invoice" ng-model="invoice" ng-change="changeInvoice()" required ng-disabled="edited">
                <option value="">Pilih Invoice</option>
                <option ng-repeat="x in data_invoice" value="{{$index}}">{{ x.NoInvoice }}</option>
              </select>
              <p ng-show="userForm.$submitted && userForm.spb.$invalid" class="help-block">Wajib diisi.</p>
            </div>
            <div class="row" style="margin: 0 !important;">
              <div class="col-md-12" style="border-bottom: 1px dashed #ccc; margin: 5px 0 10px 0;"></div>
            </div>
            <div class="form-group form-group-default disabled" ng-hide="edited">
              <label>Nilai Invoice</label>
              <input type="text" name="nilaiInvoice" ng-model="nilaiInvoice" disabled="" class="form-control price" fcsa-number="{  }">
            </div>
            <div class="form-group form-group-default disabled" ng-hide="edited"
              <label>Total Penerimaan</label>
              <input type="text" name="totalPenerimaan" ng-model="totalPenerimaan" disabled="" class="form-control price" fcsa-number="{  }">
            </div>
            <div class="form-group form-group-default disabled" ng-hide="edited">
              <label>Sisa Piutang</label>
              <input type="text" name="sisaPiutang" ng-model="sisaPiutang" disabled="" class="form-control price" fcsa-number="{  }">
            </div>
            <div class="row" style="margin: 0 !important;" ng-hide="edited">
              <div class="col-md-12" style="border-bottom: 1px dashed #ccc; margin: 5px 0 10px 0;"></div>
            </div>
            <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.$submitted && userForm.tanggal.$invalid }">
              <label>Tanggal</label>
              <input type="text" name="tanggal" ng-model="tanggal" ng-disabled="edited" class="form-control datepick" required>
              <p ng-show="userForm.$submitted && userForm.tanggal.$invalid" class="help-block">Wajib diisi.</p>
            </div>
            <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.$submitted && userForm.jumlah.$invalid }">
              <label>Total Penerimaan</label>
              <input type="text" name="jumlah" ng-model="jumlah" ng-disabled="edited" class="form-control price" fcsa-number="{  }" ng-change="countPersen()" required>
              <p ng-show="userForm.$submitted && userForm.jumlah.$invalid" class="help-block">Wajib diisi.</p>
            </div>
            <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.$submitted && userForm.keterangan.$invalid }">
              <label>Keterangan</label>
              <textarea name="keterangan" style="height: 100px;" ng-model="keterangan" class="form-control price"></textarea>
              <p ng-show="userForm.$submitted && userForm.keterangan.$invalid" class="help-block">Wajib diisi.</p>
            </div>
            <br />
            <br />
            <button type="submit" ng-show="listMenu.invoicemms.write===true" class="btn btn-info" ng-disabled="processing"><i class="fa fa-save"></i> Simpan</button>
            <a href="#/data-invoice" type="button" class="btn btn-link"><i class="fa fa-long-arrow-left"></i> Kembali</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(function() {
  $('.price').focus(function() {
    $(this).val($(this).val().toString().replace(/,/g, ""));
  });

  $('.price').focusout(function() {
    $(this).val(numberWithCommas($(this).val()));
  });
});
</script>
