<div class="jumbotron" style="margin-bottom: 0;">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <a>Asset Control</a>
        </li>
        <li>
          <a href="#/data-return-asset">Return Asset</a>
        </li>
        <li><a class="active">Return Asset Baru</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid container-fixed-lg bg-white">
  <div class="row">
    <form name="userForm" ng-submit="submitForm(userForm.$valid)">
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">
            Input Return Asset Baru
          </div>
        </div>
        <div class="panel-body">
          <h5>Silahkan lengkapi form dibawah untuk menambahkan data baru.</h5>
          <div class="row" style="margin: 0;">
            <div class="col-md-6">
              <div class="form-group" ng-class="{ 'has-error' : userForm.$submitted && userForm.noreturn.$invalid }">
                <label>No Return Asset.</label>
                <input type="text" name="noreturn" ng-model="noreturn" class="form-control" readonly="">
                <p ng-show="userForm.$submitted && userForm.noreturn.$invalid" class="help-block">Wajib diisi.</p>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : userForm.$submitted && userForm.tanggal.$invalid }">
                <label>Tanggal.</label>
                <input type="text" name="tanggal" ng-model="tanggal" class="form-control datepick" required>
                <p ng-show="userForm.$submitted && userForm.tanggal.$invalid" class="help-block">Wajib diisi.</p>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : userForm.$submitted && userForm.karyawan.$invalid }">
                <label>Karyawan.</label>
                <select class="form-control" name="karyawan" ng-change="chooseKaryawan()" ng-model="karyawan" required>
                  <option value="">--- Silahkan pilih karyawan ---</option>
                  <option value="0">UMUM</option>
                  <option ng-repeat="x in data_karyawan" value="{{x.IDKaryawan}}">{{x.Nama}}</option>
                </select>
                <p ng-show="userForm.$submitted && userForm.karyawan.$invalid" class="help-block">Wajib diisi.</p>
              </div>
            </div>
            <div class="col-md-6">
            </div>
          </div>
          <h5>Detail assign asset.</h5>
          <div class="row" style="margin: 0;">
            <div class="col-sm-3">
              <select class="form-control select2" name="kode" id="kode" ng-model="kode">
                <option value="" select2>Kode Asset</option>
                <option ng-repeat="x in data_asset" value="{{$index}}" select2>{{ x.KodeAsset }} | {{ x.Nama }}</option>
              </select>
              <!--
                        <input id="kode" name="kode" class="form-control select2" ng-model="kode" ng-change="testingS()"/>
                        -->
            </div>
            <div class="col-sm-8">
              <input type="text" name="nama" id="nama" ng-model="nama" placeholder="Nama Asset" class="form-control" readonly="">
            </div>
            <div class="col-sm-1">
              <button type="button" class="btn btn-danger" ng-disabled="processCart" ng-click="addtocart()"><i class="fa fa-plus-circle"></i></button>
            </div>
          </div>
          <div class="row" style="margin: 0;">
            <div class="col-sm-12">
              <table class="table table-hover table-less-space" id="basicTable">
                <thead>
                  <tr>
                    <th style="width:20px"></th>
                    <th style="width:20px">Kode</th>
                    <th>Nama Asset</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="x in displayCartArray">
                    <td class="v-align-middle">
                      <button type="button" class="btn btn-danger btn-xs" ng-click="deleteCart(x.IDAsset); $event.stopPropagation();"><i class="fa fa-remove"></i></button>
                    </td>
                    <td class="v-align-middle">
                      {{ x.KodeAsset }}
                    </td>
                    <td class="v-align-middle">
                      {{ x.NamaAsset }}
                    </td>
                  </tr>
                  <tr ng-show="!displayCartArray.length">
                    <td colspan="3">Belum ada asset yang dipilih ini...</td>
                  </tr>
                </tbody>
              </table>
              <!--<small style="font-style: italic;">* Klik pada tabel row untuk melakukan perubahan terhadap data aktivitas...</small><br /><br />-->
            </div>
          </div>
          <div class="row" style="margin: 0;">
            <div class="col-md-6 col-md-offset-6">
              <div class="form-group row" ng-class="{ 'has-error' : userForm.$submitted && userForm.total_item.$invalid }">
                <label class="col-xs-4" style="text-align: right;padding-top:5px;">Total Item :</label>
                <div class="col-xs-8">
                  <input type="text" name="total_item" ng-model="total_item" class="form-control" readonly="">
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-info" ng-disabled="processing"><i class="fa fa-save"></i> Simpan</button>
          <a href="javascript:history.back()" type="button" class="btn btn-link"><i class="fa fa-long-arrow-left"></i> Kembali</a>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal fade stick-up" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header clearfix text-left">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
        <h5>Update <span class="semi-bold">Aktivitas</span></h5>
        <p>Lengkapi form dibawah jika anda ingin melakukan perubahan terhadap aktivitas anda.</p>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group-attached">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default">
                  <label>Aktivitas</label>
                  <input type="text" name="aaktivitas" ng-model="aaktivitas" readonly="" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group form-group-default">
                  <label>Harga</label>
                  <input type="text" name="aharga" ng-model="aharga" ng-change="recalcActivitas()" fcsa-number="{  }" class="form-control">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group form-group-default">
                  <label>Rate</label>
                  <input type="text" name="arate" ng-model="arate" ng-change="recalcActivitas()" fcsa-number="{  }" ng-disabled="ausddisable" class="form-control">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group form-group-default">
                  <label>Unit/Pax</label>
                  <input type="text" name="aunit" ng-model="aunit" ng-change="recalcActivitas()" fcsa-number="{  }" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-8">
            <div class="p-t-20 clearfix p-l-10 p-r-10">
              <div class="pull-left">
                <p class="bold text-uppercase">TOTAL</p>
              </div>
              <div class="pull-right">
                <p class="bold text-uppercase">{{ subtotal | number }}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 m-t-10 sm-m-t-10">
            <button type="button" ng-click="updateAktivitas()" class="btn btn-primary btn-block m-t-5">Update</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
