<div class="jumbotron" style="margin-bottom: 0;">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <a>Penjualan</a>
        </li>
        <li><a href="#/data-return-penjualan">Data Return Penjualan</a>
        </li>
        <li><a class="active">Return Penjualan Baru</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid container-fixed-lg bg-white">
  <div class="row">
    <form name="userForm" ng-submit="submitForm(userForm.$valid)">
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">
            Input Return Penjualan Baru
          </div>
        </div>
        <div class="panel-body">
          <h5>Summary Return Penjualan</h5>
          <div class="row" style="margin: 0;">
            <div class="col-md-6">
              <div class="form-group" ng-class="{ 'has-error' : userForm.$submitted && userForm.no_return.$invalid }">
                <label>No. Return Penjualan(AUTO)</label>
                <input type="text" name="no_return" ng-model="no_return" class="form-control" readonly="">
                <p ng-show="userForm.$submitted && userForm.no_return.$invalid" class="help-block">Wajib diisi.</p>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : userForm.$submitted && userForm.penjualan.$invalid }">
                <label>No Penjualan.</label>
                <select class="form-control" name="penjualan" id="penjualan" ng-model="penjualan" style="padding-top: 6px;" required>
                  <option value="">Pilih No. Penjualan</option>
                  <option ng-repeat="x in data_penjualan" value="{{$index}}">{{ x.NoPenjualan }}</option>
                </select>
                <p ng-show="userForm.$submitted && userForm.penjualan.$invalid" class="help-block">Wajib dipilih.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" ng-class="{ 'has-error' : userForm.$submitted && userForm.tanggal.$invalid }">
                <label>Tanggal.</label>
                <input type="text" name="tanggal" ng-model="tanggal" class="form-control datepick" required>
                <p ng-show="userForm.$submitted && userForm.tanggal.$invalid" class="help-block">Wajib diisi.</p>
              </div>
              <div class="row" style="margin: 0">
                <div class="col-md-6">
                  <div class="form-group" ng-class="{ 'has-error' : userForm.$submitted && userForm.Pelanggan.$invalid }">
                    <label>Pelanggan.</label>
                    <input type="text" name="Pelanggan" id="pelanggan" ng-model="Pelanggan" class="form-control" readonly="">
                    <p ng-show="userForm.$submitted && userForm.Pelanggan.$invalid" class="help-block">Wajib diisi.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>User.</label>
                    <input type="text" name="usrlogin" value="{{ userLoginName }}" class="form-control" readonly="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h5>Daftar Barang.</h5>
          <div class="row" style="margin: 0;">
            <div class="col-sm-2">
              <select class="form-control select2" name="kode" id="kode" ng-model="kode" ng-change="changeKode()">
                <option value="">Kode Barang</option>
                <option ng-repeat="x in data_barang" value="{{$index}}" select2>{{ x.KodeBarang }} | {{ x.Nama }}</option>
              </select>
            </div>
            <div class="col-sm-4">
              <input type="text" name="nama_barang" id="nama_barang" ng-model="anama" placeholder="Nama Barang" class="form-control" readonly="">
            </div><!-- 
            <div class="col-sm-2">
              <div class="input-group">
                <input type="text" name="harga" id="harga" ng-model="aharga" fcsa-number="{  }" placeholder="Harga" class="form-control">
                <span class="input-group-addon primary">IDR</span>
              </div>
            </div> -->
            <div class="col-sm-1">
              <input type="number" name="qty" id="qty" ng-model="qty" ng-change="noMoreThanLimit()" placeholder="Qty" class="form-control">
            </div>
            <div class="col-sm-3">
              <input type="text" name="serialnumber" id="serialnumber" ng-model="serialnumber" ng-disabled="disabledSN" placeholder="Serial Number" class="form-control">
            </div>
            <!-- 
            <div class="col-sm-2">
              <select class="form-control" name="tipe" id="tipe" ng-model="tipe">
                <option value="ITEM RUSAK">ITEM RUSAK</option>
                <option value="ITEM REPLACEMENT">ITEM REPLACEMENT</option>
              </select>
            </div> -->
            <div class="col-sm-1">
              <button type="button" class="btn btn-danger" ng-click="addtocart()"><i class="fa fa-plus-circle"></i></button>
            </div>
          </div>
          <div class="row" style="margin: 0;">
            <div class="col-sm-12">
              <table class="table table-hover table-less-space" id="basicTable">
                <thead>
                  <tr>
                    <th style="width:20px"></th>
                    <th>Nama Produk</th><!-- 
                    <th style="width:120px">Tipe</th> --><!-- 
                    <th style="width:100px">Harga</th> -->
                    <th style="width:100px">Qty</th><!-- 
                    <th style="width:100px">Sub Total</th> -->
                    <th style="width:200px">SN</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="x in displayCartArray" ng-click="showModal(x.Nama,x.Harga,x.Rate,x.Pax,x.TotalBiaya,x.IDDetail,x.USD)">
                    <td class="v-align-middle">
                      <button type="button" class="btn btn-danger btn-xs" ng-click="removeRow(x.IDBarang); $event.stopPropagation();"><i class="fa fa-remove"></i></button>
                    </td>
                    <td class="v-align-middle">
                      {{ x.NamaBarang }}
                    </td><!-- 
                    <td class="v-align-middle">
                      {{ x.Tipe }}
                    </td> --><!-- 
                    <td class="v-align-middle">
                      {{ x.Harga }}
                    </td> --><!-- 
                    <td class="v-align-middle">
                      <input type="number" ng-model="QtyBarang" id="QtyBarang{{x.IDBarang}}" ng-change="changeQty(x.IDBarang)" class="form-control" value="{{ x.QtyBarang}}" style="width: 70px !important;" />
                    </td>
                    <td class="v-align-middle">
                      {{ x.SubTotal }}
                    </td> -->
                    <td class="v-align-middle" ng-show="x.IsSerialize==1 || x.IsLoaded==1">
                      {{ x.QtyBarang | number }}
                    </td>
                    <td class="v-align-middle" ng-show="x.IsSerialize==0">
                      <input type="number" ng-model="QtyBarang" id="QtyBarang{{x.NoUrut}}" ng-change="changeQty(x.NoUrut)" class="form-control" ng-value="{{ x.QtyBarang | number}}" style="width: 70px !important;" />
                    </td>
                    <td class="v-align-middle">
                      <input type="text" ng-model="SNBarang" id="SNBarang{{x.NoUrut}}" ng-change="changeSN(x.NoUrut)" class="form-control" ng-value="{{ x.SNBarang }}"/>
                    </td>
                  </tr>
                  <tr ng-show="!displayCartArray.length">
                    <td colspan="4">Belum ada barang yang di return...</td>
                  </tr>
                </tbody>
              </table>
              <br />
              <br />
            </div>
          </div>
          <div class="row" style="margin: 0;">
            <div class="col-md-6">
              <div class="form-group row" ng-class="{ 'has-error' : userForm.$submitted && userForm.keterangan.$invalid }">
                <label class="col-xs-2" style="text-align: right;padding-top:5px;">Keterangan :</label>
                <div class="col-xs-10">
                  <textarea name="keterangan" id="keterangan" ng-model="keterangan" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row" ng-class="{ 'has-error' : userForm.$submitted && userForm.totalqty.$invalid }">
                <label class="col-xs-4" style="text-align: right;padding-top:5px;">Total Qty:</label>
                <div class="col-xs-8">
                  <input type="text" name="totalitem" id="totalitem" ng-model="totalitem" class="form-control hlprice" readonly="" fcsa-number="{ }" required>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-info" ng-disabled="processing"><i class="fa fa-save"></i> Simpan</button>
          <a href="#/data-return-penjualan" type="button" class="btn btn-link"><i class="fa fa-long-arrow-left"></i> Kembali</a>
        </div>
      </div>
    </form>
  </div>
</div>
