<div class="jumbotron" data-pages="parallax" style="margin-bottom: 0;">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
      <div class="inner">
        <ul class="breadcrumb">
          <li>
            <a>Tugas</a>
          </li>
          <li><a href="#/data-surat-tugas">Data Surat Tugas</a>
          </li>
          <li><a href="#" class="active">Surat Tugas Baru</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
      <div class="container-fluid container-fixed-lg bg-white">
        <div class="row">
              <div class="col-md-6">
        <div class="panel panel-transparent">
                  <div class="panel-heading">
                    <div class="panel-title">
                      Input Surat Tugas Baru
                    </div>
                  </div>
                  <div class="panel-body">
                    <h5>Silahkan lengkapi form dibawah untuk membuat akun surat tugas baru...</h5>
                    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
                      <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.$submitted && userForm.nosurat.$invalid }">
                        <label>No. Surat</label>
                        <input type="text" name="nosurat" ng-model="nosurat" class="form-control" required="">
                        <p ng-show="userForm.$submitted && userForm.nosurat.$invalid" class="help-block">Wajib diisi.</p>
                      </div>
                      <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.$submitted && userForm.karyawan.$invalid }">
                        <label>Karyawan</label>
                        <select class="form-control" name="karyawan" ng-model="karyawan" required>
                            <option value="">--- Silahkan pilih karyawan ---</option>
                            <option ng-repeat="x in data_karyawan" value="{{x.IDKaryawan}}">{{x.Nama}}</option>
                        </select>
                        <p ng-show="userForm.$submitted && userForm.karyawan.$invalid" class="help-block">Wajib dipilih.</p>
                      </div> 
                      <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.$submitted && userForm.prihal.$invalid }">
                        <label>Perihal</label>
                        <input type="text" name="prihal" ng-model="prihal" class="form-control" required>
                        <p ng-show="userForm.$submitted && userForm.prihal.$invalid" class="help-block">Wajib diisi.</p>
                      </div>  
                      <div class="row" style="margin: 0;">
                        <div class="col-sm-6">
                          <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.$submitted && userForm.tgl_mulai.$invalid }">
                            <label>Tanggal Mulai</label>
                            <input type="text" name="tgl_mulai" ng-model="tgl_mulai" class="form-control datepick" id="datepicker-range" required>
                            <p ng-show="userForm.$submitted && userForm.tgl_mulai.$invalid" class="help-block">Wajib diisi.</p>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.$submitted && userForm.tgl_selesai.$invalid }">
                            <label>Tanggal Selesai</label>
                            <input type="text" name="tgl_selesai" ng-model="tgl_selesai" class="form-control datepick" required>
                            <p ng-show="userForm.$submitted && userForm.tgl_selesai.$invalid" class="help-block">Wajib diisi.</p>
                          </div>
                        </div>
                      </div>
                      <div class="form-group form-group-default" ng-class="{ 'has-error' : userForm.$submitted && userForm.deskripsi.$invalid }">
                        <label>File Surat</label>
                        <input type="file" ngf-select ng-model="file" name="file" >
                        {{file_tugas}}
                        <p ng-show="userForm.$submitted && userForm.deskripsi.$invalid" class="help-block">Wajib diisi.</p>
                      </div><br /><br />

                      <button type="submit" class="btn btn-info" ng-disabled="processing"><i class="fa fa-save"></i> Simpan</button>
                      <a href="#/data-surat-tugas" type="button" class="btn btn-link"><i class="fa fa-long-arrow-left"></i> Kembali</a>
                    </form>
                  </div>
                </div>
        </div>
        </div>
        </div>

