<div class="jumbotron" data-pages="parallax" style="margin-bottom: 0;">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <ul class="breadcrumb">
        <li>
          <a>Master Data</a>
        </li>
        <li><a href="#/data-penjualan">Data SPB</a>
        </li>
        <li><a href="#/data-vo-spb/{{idPenjualan}}">Data VO SPB</a>
        </li>
        <li><a class="active">VO Baru</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid container-fixed-lg bg-white">
  <div class="row">
    <form name="userForm" ng-submit="submitForm()" novalidate>
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">
            Input VO SPB Baru
          </div>
        </div>
        <div class="panel-body">
          <h5>Input VO SPB Baru.</h5>
          <div class="row" style="margin: 0;">
            <div class="col-md-3">
              <div class="form-group" ng-class="{ 'has-error' : userForm.$submitted && userForm.no_vo.$invalid }">
                <label>No. VO (Auto)</label>
                <input type="text" name="no_vo" ng-model="no_vo" class="form-control" readonly="">
                <p ng-show="userForm.$submitted && userForm.no_vo.$invalid" class="help-block">Wajib diisi.
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group" ng-class="{ 'has-error' : userForm.$submitted && userForm.tanggal.$invalid }">
                <label>Tanggal.</label>
                <input type="text" name="tanggal" ng-model="tanggal" class="form-control datepick">
                <p ng-show="userForm.$submitted && userForm.tanggal.$invalid" class="help-block">Wajib diisi.</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group"
                ng-class="{ 'has-error' : userForm.$submitted && userForm.data_spb.NoPenjualan.$invalid }">
                <label>No. SPB</label>
                <input type="text" name="data_spb.NoPenjualan" ng-model="data_spb.NoPenjualan" class="form-control"
                  readonly="">
                <p ng-show="userForm.$submitted && userForm.data_spb.NoPenjualan.$invalid" class="help-block">Wajib
                  diisi.
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group"
                ng-class="{ 'has-error' : userForm.$submitted && userForm.data_spb.NamaPelanggan.$invalid }">
                <label>Pelanggan</label>
                <input type="text" name="data_spb.NamaPelanggan" ng-model="data_spb.NamaPelanggan" class="form-control"
                  readonly="">
                <p ng-show="userForm.$submitted && userForm.data_spb.NamaPelanggan.$invalid" class="help-block">Wajib
                  diisi.
                </p>
              </div>
            </div>
          </div>
          <h5>Daftar Barang.</h5>
          <div class="row" style="margin: 0;" ng-show="!edit">
            <div class="col-sm-2">
              <select class="form-control select2" name="kode" id="kode" ng-model="kode" ng-change="changeKode()">
                <option value="">Kode Barang</option>
                <option ng-repeat="x in data_barang" value="{{$index}}" select2>{{ x.KodeBarang }} | {{ x.Nama }}
                </option>
              </select>
            </div>
            <div class="col-sm-4">
              <input type="text" name="nama_barang" id="nama_barang" ng-model="anama" placeholder="Nama Barang"
                class="form-control" readonly="">
            </div>
            <!-- 
            <div class="col-sm-2">
              <input type="text" name="serialnumber" id="serialnumber" ng-model="serialnumber" ng-disabled="disabledSN" placeholder="Serial Number" class="form-control">
            </div> -->
            <div class="col-sm-2">
              <div class="input-group">
                <input type="text" name="HPP" id="HPP" ng-model="HPP" fcsa-number="{  }" placeholder="HPP"
                  class="form-control" readonly="">
                <span class="input-group-addon primary">IDR</span>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="input-group">
                <input type="text" name="harga" id="harga" ng-model="harga" fcsa-number="{  }" placeholder="Harga Jual"
                  class="form-control" ng-disabled="!EditableDiskonAndPrice">
                <span class="input-group-addon primary">IDR</span>
              </div>
            </div>
            <div class="col-sm-1">
              <input type="number" name="qty" id="qty" ng-model="qty" placeholder="Qty" class="form-control"
                ng-disabled="disabledQty">
            </div>
            <div class="col-sm-1">
              <button type="button" class="btn btn-danger" ng-click="addtocart()"><i
                  class="fa fa-plus-circle"></i></button>
            </div>
          </div>
          <div class="row" style="margin: 0;">
            <div class="col-sm-12">
              <table class="table table-hover table-less-space" id="basicTable">
                <thead>
                  <tr>
                    <th style="width:20px"></th>
                    <th>Nama Produk</th>
                    <!-- 
                    <th style="width:120px">Serial Number</th> -->
                    <th style="width:120px">Qty</th>
                    <th style="width:120px">Harga Beli</th>
                    <th style="width:120px">Harga Jual</th>
                    <th style="width:120px">Diskon</th>
                    <th style="width:120px">Harga (Setelah Diskon)</th>
                    <th style="width:120px">Sub Total</th>
                    <th style="width:120px">Margin</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="x in displayCartArray">
                    <td class="v-align-middle">
                      <button type="button" class="btn btn-danger btn-xs"
                        ng-click="removeRow(x.NoUrut); $event.stopPropagation();"><i class="fa fa-remove"></i></button>
                    </td>
                    <td class="v-align-middle">
                      <span ng-bind-html="x.NamaBarang"></span>
                    </td>
                    <!-- <td class="v-align-middle">
                      {{ x.SNBarang }}
                    </td> -->
                    <!-- 
                    <td class="v-align-middle" ng-show="x.IsSerialize==1">
                      {{ x.QtyBarang | number }}
                    </td> -->
                    <td class="v-align-middle" ng-show="!edit">
                      <input type="number" ng-model="QtyBarang" id="QtyBarang{{x.NoUrut}}"
                        ng-change="changeQty(x.NoUrut)" class="form-control" value="{{ x.QtyBarang }}"
                        style="width: 70px !important;" />
                    </td>
                    <td class="v-align-middle" ng-show="edit">
                      <input type="number" ng-model="x.QtyBarang" ng-change="changeQty(x.NoUrut)" class="form-control"
                        style="width: 70px !important;" min="1" max="{{x.MaxQtyBarang}}" />
                    </td>
                    <td class="v-align-middle" ng-show="!edit && x.EditableDiskonAndPrice">
                      <input type="text" ng-model="zHPP" id="HPP{{x.NoUrut}}" ng-change="changeHPP(x.NoUrut)"
                        class="form-control" ng-value="x.HPP" fcsa-number="" style="width: 120px !important;" />
                    </td>
                    <td class="v-align-middle" ng-show="edit || !x.EditableDiskonAndPrice">
                      {{ x.HPP | number }}
                    </td>
                    <td class="v-align-middle" ng-show="!edit && x.EditableDiskonAndPrice">
                      <input type="text" ng-model="zHarga" id="Harga{{x.NoUrut}}"
                        ng-change="calcHargaAndSubTotal(x.NoUrut, null)" class="form-control" ng-value="x.Harga"
                        fcsa-number="" style="width: 120px !important;" />
                    </td>
                    <td class="v-align-middle" ng-show="!x.EditableDiskonAndPrice">
                      {{ x.Harga | number }}
                    </td>
                    <td class="v-align-middle" ng-show="!edit && x.EditableDiskonAndPrice">
                      <input type="text" ng-model="zDiskonValue" id="Diskon{{x.NoUrut}}"
                        ng-change="calcHargaAndSubTotal(x.NoUrut, true)" class="form-control" ng-value="x.Diskon"
                        style="width: 120px !important;" />
                    </td>
                    <td class="v-align-middle" ng-show="!x.EditableDiskonAndPrice && x.Diskon.indexOf('%')>=0">
                      {{ x.Diskon }}
                    </td>
                    <td class="v-align-middle" ng-show="!x.EditableDiskonAndPrice && x.Diskon.indexOf('%')===-1">
                      {{ x.Diskon | number }}
                    </td>
                    <td class="v-align-middle" ng-show="!edit && x.EditableDiskonAndPrice">
                      <input type="text" ng-model="zHargaDiskon" id="HargaDiskon{{x.NoUrut}}"
                        ng-change="calcHargaAndSubTotal(x.NoUrut, false)" class="form-control" ng-value="x.HargaDiskon"
                        style="width: 120px !important;" fcsa-number="" />
                    </td>
                    <td class="v-align-middle" ng-show="!x.EditableDiskonAndPrice">
                      {{ x.HargaDiskon | number }}
                    </td>
                    <td class="v-align-middle">
                      {{ x.SubTotal | number }}
                    </td>
                    <td class="v-align-middle">
                      {{ x.Margin | number }}
                    </td>
                  </tr>
                  <tr ng-show="!displayCartArray.length">
                    <td colspan="9">Tidak ada data barang yang dimasukan...</td>
                  </tr>
                </tbody>
              </table>
              <br />
              <br />
            </div>
          </div>
          <div class="row" style="margin: 0;">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-xs-2" style="text-align: right;padding-top:5px;">Total Qty :</label>
                <div class="col-xs-10">
                  <input type="text" name="totalItem" id="totalItem" ng-model="totalItem" class="form-control"
                    readonly="" fcsa-number="{  }">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-2" style="text-align: right;padding-top:5px;">Keterangan :</label>
                <div class="col-xs-10">
                  <textarea name="keterangan" id="keterangan" ng-model="keterangan" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-xs-4" style="text-align: right;padding-top:5px;">Sub Total :</label>
                <div class="col-xs-8">
                  <input type="text" name="total" id="total" ng-model="total" class="form-control hlprice price"
                    readonly="" fcsa-number="{  }">
                </div>
              </div>
              <div class="form-group row" style="display: none;">
                <label class="col-xs-4" style="text-align: right;padding-top:5px;">Diskon (%) :</label>
                <div class="col-xs-8">
                  <input type="text" name="diskon_persen" id="diskon_persen" ng-model="diskon_persen"
                    ng-keyup="countingGrandTotal()" class="form-control hlprice" readonly="">
                </div>
              </div>
              <div class="form-group row" style="display: none;">
                <label class="col-xs-4" style="text-align: right;padding-top:5px;">Total :</label>
                <div class="col-xs-8">
                  <input type="text" name="total2" id="total2" ng-model="total2" class="form-control hlprice price"
                    readonly="" fcsa-number="{  }">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-4" style="text-align: right;padding-top:5px;">PPN (%) :</label>
                <div class="col-xs-8">
                  <input type="text" name="ppn_persen" id="ppn_persen" ng-model="ppn_persen"
                    ng-keyup="countingGrandTotal()" class="form-control hlprice" fcsa-number="{  }" readonly="">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-4" style="text-align: right;padding-top:5px;">Grand Total :</label>
                <div class="col-xs-8">
                  <input type="text" name="grand_total" id="grand_total" ng-model="grand_total"
                    class="form-control hlprice price" readonly="" fcsa-number="{  }">
                </div>
              </div>
              <div class="form-group row" style="margin-top: 15px;margin-bottom: 10px;">
                <label class="col-xs-4" style="text-align: right;padding-top:5px;"></label>
                <div class="col-xs-8">
                  <div style="border-top: dashed 1px #aaa;"></div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-4" style="text-align: right;padding-top:5px;">Total Harga Beli :</label>
                <div class="col-xs-8">
                  <input type="text" name="totalHPP" id="totalHPP" ng-model="totalHPP"
                    class="form-control hlprice price" readonly="" fcsa-number="{  }">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-4" style="text-align: right;padding-top:5px;">Exp. Margin :</label>
                <div class="col-xs-8">
                  <input type="text" name="totalMargin" id="totalMargin" ng-model="totalMargin"
                    class="form-control hlprice price" readonly="" fcsa-number="{  }">
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-info" ng-disabled="processing"><i class="fa fa-save"></i> Simpan</button>
          <a href="#/data-penjualan" type="button" class="btn btn-link"><i class="fa fa-long-arrow-left"></i>
            Kembali</a>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  $(function () {
    $('.price').focus(function () {
      $(this).val($(this).val().toString().replace(/,/g, ""));
    });

    $('.price').focusout(function () {
      $(this).val(numberWithCommas($(this).val()));
    });
  });
</script>